<div>
    <h2>
        <span jhiTranslate="CatunDentistApp.comingBirthdayDisplay.title">Patients have birthday today</span>
        <br/>
    </h2>
    <div class="col-md-2">
        <strong jhiTranslate="entity.action.filter">Bộ lọc</strong>
        <select class="form-control" [(ngModel)]="numberDate" (change)="reload()">
            <option value="0" jhiTranslate="CatunDentistApp.comingBirthdayDisplay.time.today">Tomorrow</option>
            <option value="2" jhiTranslate="CatunDentistApp.comingBirthdayDisplay.time.next2Month">Next 2 months</option>
        </select>
    </div>
    <!-- Message -->
    <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->
    <br/>

    <div class="table-responsive">
        <table class="table table-striped" *ngIf="patientList">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.comingBirthdayDisplay.labels.name">Patient name</span></th>
                <th><span jhiTranslate="CatunDentistApp.comingBirthdayDisplay.labels.birthday">Patient birthday</span></th>
                <th><span jhiTranslate="CatunDentistApp.comingBirthdayDisplay.labels.phone">Patient phone</span></th>
                <th><span jhiTranslate="CatunDentistApp.comingBirthdayDisplay.labels.email">Patient email</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of patientList">
                <td>{{p.name}}</td>
                <td>{{p.birthDate}}</td>
                <td>{{p.phone}}</td>
                <td>{{p.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>
