<div class="row" *ngIf="selectedTreatment">
    <div class="col-md-1">
        <button class="btn btn-default btn-sm"
                [routerLink]="['/treatment/' + selectedTreatment.id]">
            <i class="fa fa-arrow-circle-left"></i>&nbsp;
            <span jhiTranslate="entity.action.back">Back</span>
        </button>
    </div>
</div>

<h1>
    <span jhiTranslate="CatunDentistApp.detailTreatmentEntity.title">Detail treament</span>
</h1>

<div class="col-md-12" *ngIf="selectedPatient">
    <table class="table-responsive table-sm">
        <tr *ngIf="selectedTreatment">
            <td
                jhiTranslate="CatunDentistApp.treatment.treatmentID">TreatmentID</td>
            <td><span>{{selectedTreatment.id}}</span></td>
        </tr>
        <tr>
            <td
                jhiTranslate="CatunDentistApp.medicalHistoryPatientListEntity.labels.name">Patient
            </td>
            <td>{{selectedPatient.name}}</td>
        </tr>
        <tr>
            <td
                jhiTranslate="CatunDentistApp.medicalHistoryPatientListEntity.labels.phone">Phone
            </td>
            <td>{{selectedPatient.phone}}</td>
        </tr>
        <tr>
            <td
                jhiTranslate="CatunDentistApp.medicalHistoryPatientListEntity.labels.birthday">Birthday</td>
            <td>{{selectedPatient.birthDay}}</td>
        </tr>
        <tr>
            <td jhiTranslate="CatunDentistApp.medicalHistoryPatientListEntity.labels.email">Email</td>
            <td>{{selectedPatient.email}}</td>
        </tr>
    </table>
</div>

<div class="container-fluid">
    <!-- Patient Select & Notes -->
    <form name="form" class="row" #detailForm="ngForm">
        <div class="patient-discount-box col-md-2">
            <div class="row">
                <!--<div class="patient-box col-md-8">-->
                    <!--<span class="input-label"-->
                          <!--jhiTranslate="CatunDentistApp.detailTreatmentEntity.form.patient">Patient</span>-->
                    <!--<input type="text" class="form-control" *ngIf="selectedPatient"-->
                           <!--[value]="selectedPatient.name + '('+ selectedPatient.phone+')'" readonly/>-->
                <!--</div>-->
                <div class="discount-box col-md-12">
                    <span class="input-label" jhiTranslate="CatunDentistApp.detailTreatmentEntity.form.discount">Discount</span>
                    <select name="discount" class="form-control" *ngIf="discountValues" [(ngModel)]="selectedDiscount">
                        <option value=""></option>
                        <option *ngFor="let dv of discountValues" [ngValue]="dv">{{dv + '%'}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="notes-box col-md-10">
            <div class="row">
                <div class="doctor-note-box col-md-6">
                    <span class="input-label" jhiTranslate="CatunDentistApp.detailTreatmentEntity.form.doctorNote">Doctor's note</span>
                    <textarea class="form-control" rows="2" name="doctorNote" [(ngModel)]="doctorNote"></textarea>
                </div>
                <div class="patient-note-box col-md-6">
                    <span class="input-label" jhiTranslate="CatunDentistApp.detailTreatmentEntity.form.patientNote">Patient's note</span>
                    <textarea class="form-control" rows="2" name="patientNote" [(ngModel)]="patientNote"></textarea>
                </div>
            </div>
        </div>
    </form>
    <!-- End Patient Select & Notes -->

    <!-- Select service warning message -->
    <div class="row text-center" style="margin-top: 10px;">
        <ngb-alert *ngIf="noService" [type]="'danger'" (close)="noService = false">{{noServiceMsg}}</ngb-alert>
    </div>
    <!-- -->

    <div class="row">
        <!-- Result display -->
        <div class="col-md-2 offset-md-10">
            <button class="btn btn-primary btn-sm"
                    [disabled]="!serviceDropdownList || serviceDropdownList.length==0"
                    (click)="addService()">
                <span class="fa fa-plus"></span>&nbsp;
                <span jhiTranslate="CatunDentistApp.detailTreatmentEntity.button.addService">Add service</span>
            </button>
        </div>
        <br/>
        <div class="result-display-box col-md-12" *ngIf="serviceList">
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th jhiTranslate="CatunDentistApp.detailTreatmentEntity.result.service">Dịch vụ</th>
                    <th width="25%" jhiTranslate="CatunDentistApp.detailTreatmentEntity.result.tooth">Răng</th>
                    <th width="10%" jhiTranslate="CatunDentistApp.detailTreatmentEntity.result.amount">SL</th>
                    <th jhiTranslate="CatunDentistApp.detailTreatmentEntity.result.unitPrice">Đơn giá</th>
                    <th jhiTranslate="CatunDentistApp.detailTreatmentEntity.result.total">Tổng</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let s of requestService">
                    <tr>
                        <td>
                            <ng-multiselect-dropdown *ngIf="isServiceAvailable" name="service" required
                                                     [data]="serviceDropdownList"
                                                     (onSelect)="chooseServiceOnAdd($event, s)"
                                                     [settings]="serviceDropdownSettings">
                            </ng-multiselect-dropdown>
                        </td>
                        <td>
                            <ng-multiselect-dropdown *ngIf="isToothAvailable && s.service" name="tooth" required
                                                     [data]="toothList"
                                                     [(ngModel)]="s.service.toothNames"
                                                     [settings]="toothDropdownSettings">
                            </ng-multiselect-dropdown>
                        </td>
                        <td>
                            <select class="form-control" *ngIf="s.service" [(ngModel)]="s.service.amounts">
                                <option
                                    *ngFor="let a of initData.amounts"
                                    [value]="a">
                                    {{a}}
                                </option>
                            </select>
                        </td>
                        <td><span *ngIf="s.service">{{s.service.price | currency:'VND':true}}</span></td>
                        <td *ngIf="s.service">{{+s.service.price * +s.service.amounts | currency:'VND':true}}</td>
                        <td>
                            <i *ngIf="s.service" class="fa fa-minus-circle" style="cursor:pointer; color: red" (click)="removeServiceFromRequest(s)"></i>
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <td></td>
                    <td colspan="2"><strong jhiTranslate="CatunDentistApp.detailTreatmentEntity.result.totalPrice">Total
                        price</strong></td>
                    <td colspan="3"><span>{{sumPrice() | currency:'VND':true}}</span></td>
                </tr>
                <tr *ngIf="selectedDiscount">
                    <td></td>
                    <td colspan="2">
                        <strong jhiTranslate="CatunDentistApp.detailTreatmentEntity.form.discount">Discount</strong>
                    </td>
                    <td colspan="3"><span>{{selectedDiscount + '%'}}</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"><strong jhiTranslate="CatunDentistApp.detailTreatmentEntity.result.finalPrice">Final
                        price</strong></td>
                    <td colspan="3"><span>{{calculateFinalPrice() | currency:'VND':true}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- End Result display -->
    </div>

    <!-- Message -->
    <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->

    <!-- Submit button -->
    <div class="row justify-content-center" style="margin-top: 10px;">
        <button class="col-md-1 btn btn-success"
                [disabled]="totalPrice <=0 || detailForm.form.invalid || !serviceList || serviceList.length == 0"
                (click)="save()" jhiTranslate="CatunDentistApp.detailTreatmentEntity.button.save">Save
        </button>
    </div>
</div>

