/*************************
COMMON STYLE
 ************************/
.clear {
    clear: both;
    display: block;
}
.ng-invalid:not(form), .ng-valid:not(form) {
     border-left: none;
}

/*************************
PATIENT & NOTES BOX STYLE
 ************************/
.patient-discount-box, .notes-box {
    margin: 3% 0;
}
.input-label {
    font-weight: bold;
    margin: 0.5% 0;
}

#patientSelect.ng-invalid, #patientSelect.ng-valid{
    border-left: 0;
}

/*************************
SELECTOR STYLE
 ************************/
.selector-box {

}

/*************************
SERVICE CATEGORY BOX STYLE
 ************************/
.service-category-box {
    margin: 0.5% 0;
}
.service-category {
    margin: 0.3%;
}
.service-product-box {
    /*padding-left: 20%;*/
}

/*************************
SERVICE-PRODUCT BOX STYLE
 ************************/
.service-product-box {
    margin: 5% 0;
}
.service {
    color: #007bff;
    font-weight: bold;
    font-size: 110%;
    margin: 0.3% 0;
}
.service i {
    font-size: 100%;
    cursor: pointer;
}

.product-box {
    padding-left: 30px;
    color: #007bff;
    font-weight: 600;
}

/*************************
RESULT DISPLAY STYLE
 ************************/
.result-display-box {
    /*border: dashed 1px #007bff;*/
    /*padding: 1% 5%;*/
}
.patient-info span{
    font-size: 115%;
    font-weight: 600;
}
.product-info-box {
    padding-left: 20px;
}
.name {
    font-weight: 600;
    float: left;
    max-width: 80%;
}
.price {
    font-weight: 600;
    float: right;
}
.product-info .name, .product-info .price {
    font-weight: 200;
}
.hr-info {
    border-top: 1px dotted grey;
    border-bottom: 1px dashed lightgrey;
    margin: 5px 0;
}
.note-label {
    font-size: 110%;
    font-weight: 600;
}
.note-title{
    font-weight: 600;
}
