<h2 jhiTranslate="CatunDentistApp.mailTemplateEntity.title">Mail Template</h2>
<div class="row">
    <!-- Left -->
    <div class="col-md-7">
        <!-- Message -->
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message"
                   (close)="staticAlertClosed = true">{{message}}
        </ngb-alert>
        <!-- -->
        <form name="form" #mailTemplateForm="ngForm"
              (ngSubmit)="mailTemplateForm.valid && save(modal)">
            <div class="form-group">
                <label class="form-control-label" for="template"
                       jhiTranslate="CatunDentistApp.mailTemplateEntity.template">Select
                    templates</label>
                <select (ngModelChange)="onSelectTemplate($event)" *ngIf="mailTemplateMaster"
                        required class="form-control" id="template" name="template"
                        [(ngModel)]="mailTemplate.masterTemplate">
                    <option [ngValue]="null"
                            jhiTranslate="CatunDentistApp.mailTemplateEntity.template">Select
                        mail template
                    </option>
                    <option
                        *ngFor="let template of mailTemplateMaster.masterTemplate; trackBy: trackTemplate"
                        [ngValue]="template == selectedMailTemplate ? selectedMailTemplate.name : template.name">
                        {{template.name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="subject"
                       jhiTranslate="CatunDentistApp.mailTemplateEntity.subject">Subject</label>
                <input type="text" class="form-control" id="subject"
                       placeholder="{{'CatunDentistApp.mailTemplateEntity.subject' | translate}}"
                       [(ngModel)]="mailTemplate.subject" #subject="ngModel" name="subject"
                       required>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="content"
                       jhiTranslate="CatunDentistApp.mailTemplateEntity.content">Content</label>
                <app-ngx-editor height="100px" minHeight="50px" id="content"
                                placeholder="{{'CatunDentistApp.mailTemplateEntity.content' | translate}}"
                                [(ngModel)]="mailTemplate.content" #templateContent="ngModel"
                                name="content" required>
                </app-ngx-editor>
            </div>

            <button type="button" (click)="cancel(modal)" class="btn btn-light"
                    jhiTranslate="CatunDentistApp.mailTemplateEntity.cancel">Hủy
            </button>
            <button type="submit" [disabled]="mailTemplateForm.form.invalid"
                    class="btn btn-primary"
                    jhiTranslate="CatunDentistApp.mailTemplateEntity.save">Lưu
            </button>
        </form>
    </div>
    <!-- End Left -->

    <!-- Right -->
    <div class="col-md-5">
        <div class="row">
            <span jhiTranslate="CatunDentistApp.mailTemplateEntity.placeholders.description">These are [PLACE_HOLDER]s you can use for templating.</span>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th jhiTranslate="CatunDentistApp.mailTemplateEntity.placeholders.placeholder">
                    Place holder
                </th>
                <th jhiTranslate="CatunDentistApp.mailTemplateEntity.placeholders.sampleValue">
                    Sample value
                </th>
            </tr>
            </thead>
            <tbody *ngIf="selectedMailTemplate">
            <tr *ngFor="let phd of selectedMailTemplate.placeHolder">
                <td>{{phd.keyword}}</td>
                <td>{{phd.sample}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- End Right -->
    <!-- Modal -->
    <ng-template #modal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{modalTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{modalMessage}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" *ngIf="modalConfirm"
                    jhiTranslate="CatunDentistApp.mailTemplateEntity.modal.confirmBtn"
                    class="btn btn-primary" (click)="back()">Confirm
            </button>
            <button type="button"
                    jhiTranslate="CatunDentistApp.mailTemplateEntity.modal.closeBtn"
                    class="btn btn-light" (click)="c('Close click')">Close
            </button>
        </div>
    </ng-template>
</div>
