<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default btn-sm"
                [routerLink]="['/treatment-history/']">
            <span class="fa fa-arrow-circle-left"></span>&nbsp;
            <span jhiTranslate="entity.action.back">Back</span>
        </button>
    </div>
</div>

<br>
<h1 class="title col-md-7 col-sm-12 offset-sm-0 offset-md-4 text-center"
    jhiTranslate="CatunDentistApp.treatmentNewfeeds.home.title">Lịch Sử Chi Tiết Điều Trị</h1>
<br>

<div class="row main-wrapper" style="min-height: 50vh;">
    <div class="treatment-info">
        <div class="patient-info jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" jhiTranslate="CatunDentistApp.treatmentNewfeeds.patient.title">Thông tin bệnh
                    nhân</h1>
                <p class="lead">
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.patient.name">Tên bệnh nhân </strong><br>
                    <span>{{selectedPatient.name}}</span><br>
                </p>
                <p class="lead">
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.patient.birthday">Ngày sinh </strong><br>
                    <span>{{selectedPatient.birthDay}}</span><br>
                </p>
                <p class="lead">
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.patient.phone">Số điện thoại </strong><br>
                    <span>{{selectedPatient.phone}}</span><br>
                </p>
                <p class="lead">
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.patient.email">Email </strong><br>
                    <span>{{selectedPatient.email}}</span><br>
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-md-9 col-sm-12 offset-sm-0 offset-md-4 treatment-detail-info" *ngIf="newfeeds">
        <div class="wrapper-info row" *ngFor="let f of newfeeds">
            <div class="card card-nav-tabs col-md-10">
                <div class="card-header card-header-primary text-center">
                    <span
                        jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.id">Treatment Detail ID: </span>
                    <span>{{f.treatmentDetail.treatmentDetailId}}</span>
                </div>
                <div class="card-body text-left">
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.totalCost">Total
                        Cost: </strong><span>{{+(f.treatmentDetail.totalCost?.split('.').join('')) | currency:'VND':true}}</span><br/>
                    <strong
                        jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.discount">Discount: </strong><span>{{f.treatmentDetail.dicount}}</span><br/>
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.realCost">Real
                        Cost: </strong><span>{{+(f.treatmentDetail.realCost?.split('.').join('')) | currency:'VND':true}}</span><br/>
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.doctorNote">Doctor
                        note: </strong><span>{{f.treatmentDetail.noteFromDoctor}}</span><br/>
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.patientNote">Patient
                        note: </strong><span>{{f.treatmentDetail.noteFromPatient}}</span><br/>
                </div>
                <div class="card-footer text-muted text-left">
                    <div class="float-left">
                        <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.createdBy">Create
                            by: </strong><span>{{f.treatmentDetail.createdBy}}</span>
                        <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.at">at: </strong><span>{{f.treatmentDetail.createDate}}</span>
                    </div>
                    <div class="float-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="button"
                                    (click)="downloadPdf(f.treatmentDetail.linkDownload)"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-file-pdf-o"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.details">Chi tiết</span>
                            </button>
                            <button type="button" *ngIf="!f.detailNote"
                                    (click)="addNote(f.treatmentDetail)"
                                    class="btn btn-success btn-sm">
                                <span class="fa fa-pencil-square"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="CatunDentistApp.treatmentNewfeeds.treatmentDetails.note">Note</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card card-nav-tabs col-md-10" *ngIf="f.detailNote">
                <div class="card-header card-header-info text-center">
                    <span jhiTranslate="CatunDentistApp.treatmentNewfeeds.note.id">Note ID: </span>
                    <span>{{f.detailNote.medicalHistory.id}}</span>

                </div>
                <div class="card-body text-left">
                    <img *ngFor="let i of f.detailNote.images" [src]="BASE_64_IMG_PREFIX + i" width="350px"
                         height="350px" alt=""/>
                    <br>
                    <br>
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.note.timeIn">Time In: </strong><span>{{f.detailNote.medicalHistory.timeIn}}</span><br/>
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.note.timeOut">Time Out: </strong><span>{{f.detailNote.medicalHistory.timeOut}}</span><br/>
                    <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.note.note">Note: </strong><span>{{f.detailNote.medicalHistory.description}}</span><br/>
                </div>
                <div class="card-footer text-muted text-left">
                    <div class="float-left">
                        <strong jhiTranslate="CatunDentistApp.treatmentNewfeeds.note.notedBy">Noted by: </strong><span>{{f.detailNote.medicalHistory.doctorName}}</span><br/>
                    </div>
                </div>
                <div class="float-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="button"
                                (click)="editNote(f.treatmentDetail.treatmentDetailId)"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-pencil-square"></span>&nbsp;
                            <span class="d-none d-md-inline" jhiTranslate="CatunDentistApp.treatmentNewfeeds.note.edit">Chỉnh sửa</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
