.treatment-info {
    position: fixed;
    top: 150px;
    left: 35px;
}


@media (max-width: 480px), (max-width: 767px),(max-width: 990px) {
    .title {
        font-size: 33px;
        font-weight: 400;
    }

    .treatment-info {
        position: relative;
        top: 0;
        left: 0;
    }

    .main-wrapper {
        padding: 12px;
    }

    .patient-info {
        margin-left: 30px;
    }

    .display-4 {
        font-size: 2rem;
    }
    .lead {
        font-size: 1.3rem;
    }
    .jumbotron {
        padding: 1rem 1.2rem;
    }
}
