/*************************
COMMON STYLE
 ************************/
.title {
    color: #274F92;
    margin-bottom: 3%;
}

.hide {
    display: none;
}

.shown {
    display: block;
}

/*************************
WEEKDAY-PICK STYLE
 ************************/
.weekday-pick-box {
    margin-bottom: 4%;
}

.weekday {
    border: solid 1px #4285f4;
    color: #4285f4;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin-top: -1px; /** Prevent double-border**/
    margin-left: -1px; /** Prevent double-border**/
}

.weekday:hover, .selected {
    background-color: #a9a9a9;
    color: #FFF;
    border: solid 1px #000;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.past, .past:hover {
    border: solid 1px #a9a9a9;
    color: #a9a9a9;
    cursor: default;
    background-color: #FFF;
    font-weight: 100;
}

/*************************
CALENDAR STYLE
 ************************/
.calendar-box {
    margin-bottom: 4%;
}

.two-month-calendar-fulldate {
    display: none;
}

/*************************
TIME-RANGE STYLE & PATIENT QUANTITY STYLE
 ************************/
.other-info-box {
    margin-bottom: 4%;
}

.time-range-box {
    padding: 0;
}

.time-range-input {
    width: 30%;
    display: inline-block;
}

.patient-no-box {
}

/*************************
HOLIDAY STYLE
 ************************/
.holiday-box {
    margin-bottom: 4%;
}

/*************************
BUTTONS STYLE
 ************************/
.btn-box {
}

/*************************
MOBILE STYLE
 ************************/
@media (max-width: 480px), (max-width: 767px),(max-width: 990px) {
    .reason-label, .add-holiday-btn {
        margin: 1.5% 0;
        padding: 0.5% 0;
    }

    .two-month-calendar-fulldate {
        display: block;
    }
}
