<h2 jhiTranslate="CatunDentistApp.availabilitySettingEntity.title">Availability Setting</h2>
<br/>
<div class="col-md-12">
    <form name="form" *ngIf="settings" #settingForm="ngForm" (ngSubmit)="save()">
        <!-- WEEKDAY-PICK  -->
        <div class="row text-center weekday-pick-box">
            <h4 class="title"
                jhiTranslate="CatunDentistApp.availabilitySettingEntity.label.weekCalendar">Chọn
                ngày trong tuần</h4> <br/>
            <div class="col-md-12">
                <div class="row" *ngIf="settingDays">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-1 text-center weekday"
                         *ngFor="let weekday of weekdays"
                         [ngClass]="{selected: weekday.isSelected}"
                         #weekDateBox
                         attr.data-weekday="{{weekday.date}}"
                         (click)="chooseWeekDay(weekDateBox.getAttribute('data-weekday'), false)">
                        <span
                            jhiTranslate="{{'datetime.weekday.'+weekday.date}}">{{weekday.date}}</span><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- END text-center weekday-PICK  -->
        <!-- CALENDAR  -->
        <div class="row calendar-box">
            <h4 class="title"
                jhiTranslate="CatunDentistApp.availabilitySettingEntity.label.2MonthsCalendar">Danh
                sách ngày làm việc/nghỉ trong 2 tháng.</h4>
            <div class="col-md-12" *ngIf="settingDays">
                <div class="row calendar-row" *ngFor="let week of settingDays">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-1 text-center weekday"
                         #dateBox
                         [ngClass]="{past: !date.isShown, selected: date.isSelected}"
                         *ngFor="let date of week"
                         ngbTooltip="{{date.reason}}"
                         placement="top"
                         attr.data-dateyear="{{date.fullDateYear}}"
                         attr.data-shown="{{date.isShown}}"
                         (click)="chooseDay(dateBox.getAttribute('data-dateyear'), dateBox.getAttribute('data-shown'), 'dayoff', false)">
                        <span class="two-month-calendar-fulldate"
                              jhiTranslate="{{'datetime.weekday.'+date.weekday}}">{{date.weekday}}<br/></span>
                        <span>{{date.fullDate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CALENDAR  -->

        <!-- OTHER  -->
        <div class="row other-info-box">
            <div class="col-md-6 time-range-box">
                <h4 class="title"
                    jhiTranslate="CatunDentistApp.availabilitySettingEntity.label.workingTime">Chọn
                    thời gian làm việc ( 07:00 - 22:00 )</h4>


                <select #from
                        [(ngModel)]="workTimeFrom" required
                        name="workTimeFrom"
                        class="form-control text-center time-range-input">
                    <option *ngFor="let ts of timeSlots" [ngValue]="ts">{{ts}}</option>
                </select>
                -
                <select #to
                        [(ngModel)]="workTimeTo" required
                        name="workTimeTo"
                        class="form-control text-center time-range-input">
                    <option *ngFor="let ts of timeSlots" [ngValue]="ts">{{ts}}</option>
                </select>
            </div>
            <div class="col-md-6 patient-no-box">
                <h4 class="title"
                    jhiTranslate="CatunDentistApp.availabilitySettingEntity.label.patientNo">Số
                    bệnh nhân có thể khám / 1h</h4>

                <select #patientNo="ngModel"
                        [(ngModel)]="settings.numberPatientOneHour" required
                        name="numberPatientOneHour"
                        class="form-control text-center" style="width: 20%"
                        *ngIf="settings">
                    <option *ngFor="let number of settings.numberPatientSelected" [ngValue]="number">{{number}}
                    </option>
                </select>
            </div>
        </div>
        <!-- END OTHER  -->

        <!-- HOLIDAY  -->
        <div class="row holiday-box">
            <h4 class="title"
                jhiTranslate="CatunDentistApp.availabilitySettingEntity.label.holiday">Chọn ngày
                nghỉ lễ</h4>

            <div class="col-md-12 holiday-radios">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <label class="radio-inline">
                            <input type="radio" checked #one [value]="'one'"
                                   (click)="pickTypeOnSelect(one.value)" name="pickHolidayType">&nbsp;
                            <span jhiTranslate="CatunDentistApp.availabilitySettingEntity.label.oneDay">Một ngày</span>
                        </label>
                    </div>
                    <div class="col-md-2 text-center">
                        <label class="radio-inline">
                            <input type="radio" #many [value]="'many'"
                                   (click)="pickTypeOnSelect(many.value)" name="pickHolidayType">&nbsp;
                            <span
                                jhiTranslate="CatunDentistApp.availabilitySettingEntity.label.multiDay">Nhiều ngày</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input name="holidayDpFromVal"
                                   [(ngModel)]="holidayDpValFrom"
                                   (click)="holidayDpFromOnClick()"
                                   (ngModelChange)="selectFromHoliday($event)"
                                   class="form-control" ngbDatepicker [minDate]="minDate"
                                   #holidaysDpFrom="ngbDatepicker">

                            <!--<input class="form-control" [(ngModel)]="holidaySetting" name="holidaySetting">-->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input name="holidayDpToVal"
                                   [disabled]="pickHolidayType === 'one'"
                                   [(ngModel)]="holidayDpValTo"
                                   (click)="holidayDpToOnClick()"
                                   (ngModelChange)="selectToHoliday($event)"
                                   class="form-control" ngbDatepicker [minDate]="minDate"
                                   #holidaysDpTo="ngbDatepicker">
                        </div>
                    </div>

                    <div class="col-md-1 text-center no-padding reason-label">
                        <span class="label label-info"
                              jhiTranslate="CatunDentistApp.availabilitySettingEntity.label.reason"><b>Lý do</b></span>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" name="holidayReason" [(ngModel)]="holidayReason"
                               style="width: 100%" type="text"/>
                    </div>
                    <div class="col-md-1 text-center add-holiday-btn">
                        <button type="button" class="btn btn-success" (click)="addHoliday()"
                                jhiTranslate="CatunDentistApp.availabilitySettingEntity.add">Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- HOLIDAY OTHER  -->

        <!-- HOLIDAYS TABLE -->
        <div class="row">
            <div class="col-md-6 mx-auto">
                <table class="table table-bordered" *ngIf="holidaysTable.length > 0">
                    <thead>
                    <tr>
                        <th>Holiday</th>
                        <th>Reason</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr *ngFor="let holiday of holidaysTable">
                        <td> {{holiday.dateOff}}</td>
                        <td> {{holiday.reason}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END HOLIDAYS TABLE -->

        <!-- Message -->
        <div class="col-md-6 mx-auto text-center">
            <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message"
                       (close)="staticAlertClosed = true">{{message}}
            </ngb-alert>
        </div>
        <!-- -->

        <!-- BUTTONS  -->
        <div class="row btn-box">
            <div class="col-md-6 mx-auto text-center">
                <button class="btn btn-success" type="submit"
                        [disabled]="settingForm.form.invalid"
                        jhiTranslate="CatunDentistApp.availabilitySettingEntity.save">Save
                </button>
                <button type="reset" class="btn btn-danger"
                        jhiTranslate="CatunDentistApp.availabilitySettingEntity.clear">Clear
                </button>
            </div>
        </div>
        <!-- END BUTTONS  -->
    </form>
</div>
