<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!--/*@thymesVar id="messages" type=""*/-->
    <p><span th:text="${message}"/></p>
    <img th:src="*{'http://localhost:9000/' + qrCodeImageResponse}" alt="" />

</body>
</html>
