<h2>
    <span jhiTranslate="CatunDentistApp.warehouseReport.title">Báo cáo tình hình sử dụng vật tư</span>
</h2>

<!-- Message -->
<div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
    <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
        {{message}}
    </ngb-alert>
</div>
<!-- -->
<br/>
<br/>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-info btn-sm"
                (click)="downloadCSV()">
            <span class="fa fa-download"></span>&nbsp;
            <span jhiTranslate="CatunDentistApp.warehouseReport.button.download">Download Report CSV</span>
        </button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-10 mx-auto">
        <form name="form" #searchForm="ngForm">
            <div class="row">
                <div class="col-md-4">
                    <h6><span jhiTranslate="CatunDentistApp.warehouseReport.label.fromDate">From Date</span>
                    </h6>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="fromDate"
                                   [(ngModel)]="fromDateVal" ngbDatepicker #fromDate="ngbDatepicker" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="fromDate.toggle()"
                                        type="button">
                                    <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6><span jhiTranslate="CatunDentistApp.warehouseReport.label.toDate"> To Date </span></h6>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="toDate"
                                   [(ngModel)]="toDateVal" ngbDatepicker #toDate="ngbDatepicker" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="toDate.toggle()"
                                        type="button">
                                    <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="padding-top: 2%">
                    <button class="btn btn-info btn-sm"
                            [disabled]="searchForm.invalid"
                            (click)="fetchWarehouseReport()">
                        <span class="fa fa-line-chart"></span>&nbsp;
                        <span jhiTranslate="CatunDentistApp.warehouseReport.button.report">Report</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12" *ngIf="report">
        <div class="table-responsive text-center" *ngIf="report">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="CatunDentistApp.warehouseReport.label.name">Tên vật tư</span></th>
                    <th><span
                        jhiTranslate="CatunDentistApp.warehouseReport.label.lastMonthLeft">Tháng trước còn lại</span>
                    </th>
                    <th><span jhiTranslate="CatunDentistApp.warehouseReport.label.inputAmount">Nhập vào</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouseReport.label.outputAmount">Xuất ra</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouseReport.label.restAmount">Còn lại</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let s of report.wareHouses">
                    <td>{{s.name}}</td>
                    <td>{{s.restAmountMonthAgo}}</td>
                    <td>{{s.inputAmount}}</td>
                    <td>{{s.outputAmount}}</td>
                    <td>{{s.restAmount}}</td>
                </tr>
                <tr class="table-info">
                    <td><strong jhiTranslate="CatunDentistApp.warehouseReport.label.total">Tổng số</strong></td>
                    <td>{{report.totalRestAmountMonthAgo}}</td>
                    <td>{{report.totalInputAmount}}</td>
                    <td>{{report.totalOutputAmount}}</td>
                    <td>{{report.totalRestAmount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
