<div>
    <h2>
        <span jhiTranslate="CatunDentistApp.patientManage.title">Patients list</span>
    </h2>
    <!-- Message -->
    <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->
    <br/>
    <div class="row">
        <div class="col-md-2">
            <input class="form-control" name="search" [(ngModel)]="search" type="text"/>
            <span id="searchclear" (click)="search=''"><i class="fa fa-times"></i></span>
        </div>
        <div class="col-md-1 text-center">
            <button class="btn btn-success" jhiTranslate="CatunDentistApp.patientManage.search"
                    (click)="transition()">Search</button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                [callback]="transition.bind(this)">
                <th jhiSortBy="name">
                    <span jhiTranslate="CatunDentistApp.patientManage.labels.name">Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th><span jhiTranslate="CatunDentistApp.patientManage.labels.phone">Phone</span></th>
                <th><span jhiTranslate="CatunDentistApp.patientManage.labels.address">Address</span></th>
                <th><span jhiTranslate="CatunDentistApp.patientManage.labels.email">Email</span></th>
                <th><span jhiTranslate="CatunDentistApp.patientManage.labels.birthday">Birthday</span></th>
                <th><span jhiTranslate="CatunDentistApp.patientManage.labels.firstTreatmentDay">First treatment day</span></th>
                <th><span jhiTranslate="CatunDentistApp.patientManage.labels.lastTreatmentDay">Last treatment day</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients">
                <td>{{patient.name}}</td>
                <td>{{patient.phone}}</td>
                <td>{{patient.address}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.birthDay}}</td>
                <td>{{patient.firstTreatmentTime}}</td>
                <td>{{patient.lastTreatmentTime}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="row justify-content-center">
        <nav>
            <ul class="pagination" *ngIf="pageable">
                <li class="page-item">
                    <a class="page-link" [routerLink]="['/patient-management']"
                       [queryParams]="{search: search, page: '1', sort: sort()}"
                       jhiTranslate="pagination.first">First</a>
                </li>
                <li class="page-item" *ngFor="let page of pageable.numberPages">
                    <a class="page-link" [routerLink]="['/patient-management']" [queryParams]="{search: search, page: page, sort: sort()}">{{page}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" [routerLink]="['/patient-management']"
                       [queryParams]="{search: search, page: pageable.totalPage, sort: sort()}"
                       jhiTranslate="pagination.last">Last</a>
                </li>
            </ul>
        </nav>
        </nav>
    </div>
</div>
