<div>
    <h2>
        <span jhiTranslate="CatunDentistApp.treatment.titleTreatmentHistory">Treatments History</span>
    </h2>
    <!-- Message -->
    <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->
    <br/>
    <div class="row">
        <div class="col-md-2">
            <input class="form-control" name="search" [(ngModel)]="search" type="text"/>
            <span id="searchclear" (click)="search=''"><i class="fa fa-times"></i></span>
        </div>
        <div class="col-md-1 text-center">
            <button class="btn btn-success" jhiTranslate="CatunDentistApp.treatment.search"
                    (click)="transition()">Search</button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                [callback]="transition.bind(this)">
                <th jhiSortBy="name">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.name">Patient</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.birthday">Birthday</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.phone">Phone</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.email">Email</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.doctor">Doctor</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.services">Services</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.timeFrom">Time from</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.timeTo">Time to</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.timeTo">Status</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let t of treatments">
                <td>{{t.name}}</td>
                <td>{{t.birthDay}}</td>
                <td>{{t.phone}}</td>
                <td>{{t.email}}</td>
                <td>{{t.doctorName}}</td>
                <td>{{t.services}}</td>
                <td>{{t.treatmentTimeFrom}}</td>
                <td>{{t.treatmentTimeTo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container" *ngIf="t.status">
                        <button type="button"
                                (click)="revertTreatment(t)"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-refresh"></span>&nbsp;
                            <span class="d-none d-md-inline" jhiTranslate="CatunDentistApp.treatment.revert">Revert</span>
                        </button>
                    </div>
                    <h5  *ngIf="!t.status" class="text-center">
                        <span class="badge badge-info"
                              jhiTranslate="CatunDentistApp.treatment.notFinish">In Treatment</span>
                    </h5>
                </td>
                <td>
                    <button type="button"
                            (click)="selectTreatment(t)"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="d-none d-md-inline" jhiTranslate="CatunDentistApp.treatment.viewDetail">View detail</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="row justify-content-center">
        <nav>
            <ul class="pagination" *ngIf="pageable">
                <li class="page-item">
                    <a class="page-link" [routerLink]="['../treatment-history/']"
                       [queryParams]="{search: search, page: '1', sort: sort()}"
                       jhiTranslate="pagination.first">First</a>
                </li>
                <li class="page-item" *ngFor="let page of pageable.numberPages">
                    <a class="page-link" [routerLink]="['../treatment-history/']" [queryParams]="{search: search, page: page, sort: sort()}">{{page}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" [routerLink]="['../treatment-history/']"
                       [queryParams]="{search: search, page: pageable.totalPage, sort: sort()}"
                       jhiTranslate="pagination.last">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
