<div class="justify-content-center">
    <!-- Message -->
    <div class="col-md-10 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->
    <div class="row">
        <!-- Left -->
        <div class="col-md-12 text-center">
            <div class="doctor-filter row" *ngIf="doctors">
                <div class="col-md-3">
                    <label class="cb-container text-left">All
                        <input type="checkbox" [checked]="filterAll" (change)="filterDoctor($event, d, true)"/>
                        <span [style.background-color]="'#aaf1bb'"
                              class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-3" *ngFor="let d of doctors; let i = index">
                    <label class="cb-container text-left">{{d.doctorName}}
                        <input type="checkbox" [checked]="d.display" (change)="filterDoctor($event, d, false)"/>
                        <span [style.background-color]="COLORS[i]"
                              class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-5 mx-auto">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" ngbDatepicker #selectDate="ngbDatepicker"
                           (ngModelChange)="navigateAgenda($event)"
                           [(ngModel)]="model"
                           [minDate]="minDate" [maxDate]="maxDate"  style="display: none">
                    <div class="input-group-append"  style="display: none">
                        <button class="btn btn-outline-secondary" id="calendarBtn" (click)="selectDateDpOnClick()"
                                type="button">
                            <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End left -->

        <!-- Right -->
        <div class="col-md-12 text-center">
            <div *ngIf="calendarOptions">
                <ng-fullcalendar #ucCalendar
                                 [options]="calendarOptions"
                                 (eventClick)="eventClick(content, $event.detail)"></ng-fullcalendar>
            </div>
        </div>
        <!-- End right -->
    </div>
</div>

<!-- Assign doctor modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.taskCalendar.labels.assignDoctor">Assign doctor</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="viewingAppoinment && doctors">
            <table class="table borderless">
                <tr>
                    <td><span class="font-weight-bold" jhiTranslate="CatunDentistApp.taskCalendar.labels.appointmentId">Appoinment ID: </span>
                    </td>
                    <td><span>{{viewingAppoinment.bookingId}}</span></td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold" jhiTranslate="CatunDentistApp.taskCalendar.labels.patientName">Patient Name: </span>
                    </td>
                    <td>
                        <span>{{viewingAppoinment.patientName}}</span>
                        <br/>
                        <span class="fake-link"
                              *ngIf="authorities && isDoctor"
                              (click)="viewAppointmentDetails()"
                              jhiTranslate="CatunDentistApp.taskCalendar.labels.treatmentDetails">Treatment details</span>
                        <span class="fake-link"
                              *ngIf="authorities && isReception"
                              (click)="viewAppointmentDetails()"
                              jhiTranslate="CatunDentistApp.taskCalendar.labels.bookingDetails">Booking details</span>
                    </td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold" jhiTranslate="CatunDentistApp.taskCalendar.labels.service">Service: </span>
                    </td>
                    <td><span>{{viewingAppoinment.services}}</span></td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold" jhiTranslate="CatunDentistApp.taskCalendar.labels.timeStart">Time Start: </span>
                    </td>
                    <td><span>{{viewingAppoinment.timeStart}}</span></td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold" jhiTranslate="CatunDentistApp.taskCalendar.labels.timeEnd">Time End: </span>
                    </td>
                    <td>
                        <span>{{viewingAppoinment.timeEnd?viewingAppoinment.timeEnd: ''}}</span>
                        <!--<small class="form-text text-danger" *ngIf="!viewingAppoinment.timeEnd"-->
                               <!--jhiTranslate="CatunDentistApp.taskCalendar.message.selectTimeEnd">-->
                            <!--Please select time end.-->
                        <!--</small>-->
                    </td>
                </tr>
            </table>
            <span class="font-weight-bold" jhiTranslate="CatunDentistApp.taskCalendar.labels.doctor">Doctor: </span>
            <select class="form-control" #assignedDoctor (change)="assignedDoctorId = assignedDoctor.value">
                <option value="" jhiTranslate="CatunDentistApp.taskCalendar.labels.defaultAssignDoctor">Assign doctor
                    for appointment
                </option>
                <option
                    *ngFor="let d of doctors"
                    [value]="d.doctorId"
                    [selected]="viewingAppoinment? d.doctorId == viewingAppoinment.doctorId: false">
                    {{d.doctorName}}
                </option>
            </select>
            <small class="form-text text-danger" *ngIf="!assignedDoctorId"
                   jhiTranslate="CatunDentistApp.taskCalendar.message.selectDoctor">
                Please select doctor.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                [disabled]="!assignedDoctorId"
                (click)="assign()" jhiTranslate="CatunDentistApp.taskCalendar.labels.assign">Assign
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeModal()" jhiTranslate="CatunDentistApp.taskCalendar.labels.close">Close
        </button>
    </div>
</ng-template>




