/* -------------------------------------------------- */
/* TITLE                                              */
/* -------------------------------------------------- */
.title-wrapper {
    margin: 4% 0;
}

.title-wrapper h4 {
    text-transform: uppercase;
    color: #4CA6FF;
}

.borderless td, .borderless th {
    border: none;
}

.card-header-info {
    font-size: 27px;
    text-transform: uppercase;
}

/* -------------------------------------------------- */
/* BOOKING DETAILS                                    */
/* -------------------------------------------------- */
.title {
    font-weight: bold;
}

.value {
    font-weight: 400;
}

.title, .value {
    font-size: 120%;
}

.confirm-box {
    padding: 0 20px;
}

.details-box {
    color: #4495E5;
    padding: 20px 0;
}

.map-box {
    margin-left: -5px;
    height: 55vh;
}

.direction, .print {
    padding: 2px;
    margin-bottom: 20px;
    font-size: 120%;
}

/* -------------------------------------------------- */
/* BOOKING DETAILS - FOR PRINTING                     */
/* -------------------------------------------------- */
@media print {
    .jh-navbar-toggler {
        display: none;
    }
    .card-header-info {
        color: #000;
    }

    .title-wrapper {
        margin-top: 10%;
    }

    .booking-info-box {
        width: 100% !important;
    }

    .qr-code-box > img {
        width: 100%;
    }

    .title, .value {
        font-size: 100%;
    }

    .map-box {
        max-width: 66.666667%;
    }

    .direction, .print {
        display: none;
    }
}

@media (max-width: 480px), (max-width: 767px),(max-width: 990px) {
    .display-4 {
        font-size: 2.5rem;
    }

    .qr-code-box > img {
        width: 70%;
    }
}
