<!--<div class="row text-center title-wrapper">-->
<!--<div class="col-md-12">-->
<!--<h4 jhiTranslate="CatunDentistApp.confirm.title">Thông tin đặt hẹn</h4>-->
<!--</div>-->
<!--</div>-->
<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <div class="row confirm-box">
            <div class="card card-nav-tabs">
                <div class="card-header card-header-info" jhiTranslate="CatunDentistApp.confirm.title">
                    Thông tin đặt hẹn
                </div>
                <div class="row">
                    <div class="col-md-5 qr-code-box">
                        <img width="70%" *ngIf="bookingInfo" src="{{bookingInfo.qrCodeImageUrl}}"
                             alt="Mã QR"/>
                    </div>
                    <div class="col-md-7 text-left">
                        <table class="table borderless" style="margin-top: 20px;">
                            <tbody>
                            <tr>
                                <td>
                                    <strong class="title" jhiTranslate="CatunDentistApp.confirm.code">Mã xác
                                        nhận: </strong>
                                </td>
                                <td>
                                    <span class="value" style="text-transform: uppercase"  *ngIf="bookingInfo">{{bookingInfo.code}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong class="title" jhiTranslate="CatunDentistApp.confirm.patient">Bệnh
                                        nhân: </strong>
                                </td>
                                <td>
                                    <span class="value" *ngIf="bookingInfo">{{bookingInfo.name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong class="title" jhiTranslate="CatunDentistApp.confirm.address">Phòng
                                        khám: </strong>
                                </td>
                                <td>
                                    <span class="value" *ngIf="bookingInfo">{{bookingInfo.address}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong class="title" jhiTranslate="CatunDentistApp.confirm.time">Ngày
                                        giờ: </strong>
                                </td>
                                <td>
                                    <span class="value" *ngIf="bookingInfo">{{bookingInfo.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong class="title" jhiTranslate="CatunDentistApp.confirm.services">Sử dụng
                                        dịch
                                        vụ: </strong>
                                </td>
                                <td>
                                    <div *ngIf="bookingInfo">
                                    <span class="value" *ngFor="let service of bookingInfo.services"
                                          [innerHTML]="service + '<br/>'">
                                    </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong class="title" jhiTranslate="CatunDentistApp.confirm.status">Tình
                                        trạng: </strong>
                                </td>
                                <td>
                                    <span class="value" *ngIf="bookingInfo">{{bookingInfo.status}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="col-md-12">
        <div class="col-md-11 ">
            <button
                class="col-md-2 col-sm-2 col-xs-3 offset-md-5 offset-sm-5 offset-xs-5 btn btn-default print"
                (click)="print()"><span jhiTranslate="CatunDentistApp.confirm.print">In</span> &nbsp;<i
                class="fa fa-print"></i></button>
            <button
                class="col-md-2 col-sm-2 col-xs-3 offset-md-2 offset-sm-2 offset-xs-2 btn btn-primary direction"
                (click)="mapsSelector()"><span jhiTranslate="CatunDentistApp.confirm.direction">Chỉ đường</span>
                &nbsp;<i class="fa fa-map"></i></button>
        </div>
        <div class="col-md-11 mx-auto map-box" #gmap></div>
    </div>
</div>
