<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGlobalSettingLabel"
            jhiTranslate="CatunDentistApp.globalSetting.home.createOrEditLabel">Create or edit a
            Global Setting</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <!--<jhi-alert-error></jhi-alert-error>-->
        <!-- Message -->
        <div class="col-md-12 text-center" style="margin-top: 10px;">
            <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
                {{message}}
            </ngb-alert>
        </div>
        <!-- -->
        <div class="form-group" [hidden]="!globalSetting.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="globalSetting.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="CatunDentistApp.globalSetting.group"
                   for="field_group">Group</label>
            <select *ngIf="groups" class="form-control" #group (change)="select(group.value)" [(ngModel)]="globalSetting.group" id="field_group"
                    name="group">
                <option *ngFor="let g of groups" [value]="g.groupName">{{g.groupName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="CatunDentistApp.globalSetting.name"
                   for="field_name">Name</label>
            <select *ngIf="selectedGroup" class="form-control" [(ngModel)]="globalSetting.name" id="field_name"
                    name="name">
                <option *ngFor="let n of selectedGroup.names" [ngValue]="n">{{n}}</option>
            </select>

            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="CatunDentistApp.globalSetting.value"
                   for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                   [(ngModel)]="globalSetting.value" required/>
            <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.value?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving"
                class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
            jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
