<div *ngIf="globalSetting">
    <h2><span jhiTranslate="CatunDentistApp.globalSetting.detail.title">Global Setting</span>
        {{globalSetting.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="CatunDentistApp.globalSetting.group">Group</span></dt>
        <dd>
            <span>{{globalSetting.group}}</span>
        </dd>
        <dt><span jhiTranslate="CatunDentistApp.globalSetting.name">Name</span></dt>
        <dd>
            <span>{{globalSetting.name}}</span>
        </dd>
        <dt><span jhiTranslate="CatunDentistApp.globalSetting.value">Value</span></dt>
        <dd>
            <span>{{globalSetting.value}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span
        jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'global-setting/'+ globalSetting.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
