<div>
    <h2>
        <span jhiTranslate="CatunDentistApp.globalSetting.home.title">Global Settings</span>
        <button class="btn btn-primary float-right jh-create-entity create-global-setting"
                [routerLink]="['/', { outlets: { popup: ['global-setting-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="CatunDentistApp.globalSetting.home.createLabel">
            Create new Global Setting
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="globalSettings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="group"><span jhiTranslate="CatunDentistApp.globalSetting.group">Group</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span
                    jhiTranslate="CatunDentistApp.globalSetting.name">Name</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="value"><span jhiTranslate="CatunDentistApp.globalSetting.value">Value</span>
                    <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let globalSetting of globalSettings ;trackBy: trackId">
                <td><a
                    [routerLink]="['../global-setting', globalSetting.id ]">{{globalSetting.id}}</a>
                </td>
                <td>{{globalSetting.group}}</td>
                <td>{{globalSetting.name}}</td>
                <td>{{globalSetting.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../global-setting', globalSetting.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'global-setting/'+ globalSetting.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'global-setting/'+ globalSetting.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="globalSettings && globalSettings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
