<div>
    <h2>
        <span jhiTranslate="CatunDentistApp.appointmentDisplay.title">Tomorrow Appointments</span>
    </h2>
    <br/>
    <div class="col-md-2">
        <strong jhiTranslate="entity.action.filter">Bộ lọc</strong>
        <select class="form-control" [(ngModel)]="numberDate" (change)="reload()">
            <!--<option value="0" jhiTranslate="CatunDentistApp.appointmentDisplay.time.today">Today</option>-->
            <!--<option value="1" jhiTranslate="CatunDentistApp.appointmentDisplay.time.tomorrow">Tomorrow</option>-->
            <option value="3" jhiTranslate="CatunDentistApp.appointmentDisplay.time.3days">Next 3 days</option>
            <option value="10" jhiTranslate="CatunDentistApp.appointmentDisplay.time.10days">Next 10 days</option>
            <option value="30" jhiTranslate="CatunDentistApp.appointmentDisplay.time.30days">Next 30 days</option>
        </select>
    </div>

    <!-- Message -->
    <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->
    <br/>

    <div class="table-responsive">
        <table class="table table-striped" *ngIf="bookingList">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.appointmentDisplay.labels.time">Appointment Time</span></th>
                <th><span jhiTranslate="CatunDentistApp.appointmentDisplay.labels.code">Code</span></th>
                <th><span jhiTranslate="CatunDentistApp.appointmentDisplay.labels.name">Patient name</span></th>
                <th>
                    <span jhiTranslate="CatunDentistApp.appointmentDisplay.labels.phone">Patient phone Number</span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let b of bookingList">
                <td>{{b.timeBooking}}</td>
                <td style="text-transform: uppercase">{{b.code}}</td>
                <td>{{b.name}}</td>
                <td>{{b.numberPhone}}</td>
                <td>
                    <button type="button"
                            (click)="edit(b, editModal)"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>


<!-- Edit booking -->
<ng-template #editModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.appointmentDisplay.labels.editLbl">Edit Booking
            detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-left" *ngIf="editBooking">
        <form class="form" #editForm role="form">
            <div class="form-group">
                <label jhiTranslate="CatunDentistApp.appointmentDisplay.labels.name">Name</label>
                <input type="text" required class="form-control" name="name" [(ngModel)]="editRequest.name">
            </div>
            <div class="form-group">
                <label jhiTranslate="CatunDentistApp.appointmentDisplay.labels.date">Date</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" name="dob" id="dob"
                               [(ngModel)]="editDateVal" ngbDatepicker #dateVal="ngbDatepicker"
                               [minDate]="minDate" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dateVal.toggle()"
                                    type="button">
                                <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label jhiTranslate="CatunDentistApp.appointmentDisplay.labels.time">TIme</label>
                <select class="form-control" required [(ngModel)]="editRequest.timeVal" name="timeVal">
                    <option *ngFor="let ts of timeSlots" [ngValue]="ts.time">{{ts.time}}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                [disabled]="!this.editRequest || !this.editRequest.name || !editDateVal
                || !this.editRequest.timeVal || !this.editRequest.bookingId"
                (click)="submitEdit()"
                jhiTranslate="entity.action.edit">Edit
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeEdit()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>
