<div *ngIf="serviceEntity">
    <h2><span jhiTranslate="CatunDentistApp.serviceEntity.detail.title">Dịch vụ: </span>
        {{serviceEntity.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="CatunDentistApp.serviceEntity.name">Tên</span></dt>
        <dd>
            <span>{{serviceEntity.name}}</span>
        </dd>
        <dt><span jhiTranslate="CatunDentistApp.serviceEntity.basePrice">Giá</span></dt>
        <dd>
            <span>{{serviceEntity.basePrice | currency:'VND':true}}</span>
        </dd>
        <dt><span jhiTranslate="CatunDentistApp.serviceEntity.description">Miêu tả</span></dt>
        <dd>
            <span [innerHTML]="serviceEntity.description"></span>
        </dd>
        <dt><span
            jhiTranslate="CatunDentistApp.serviceEntity.relatedProducts">Sản phẩm liên quan</span>
        </dt>
        <dd>
            <span *ngFor="let product of serviceEntity.relatedProducts">{{product.name}}<br/></span>
        </dd>
        <dt><span jhiTranslate="CatunDentistApp.serviceEntity.serviceCategory">Loại dịch vụ</span>
        </dt>
        <dd>
            <div *ngIf="serviceEntity.serviceCategory">
                <a [routerLink]="['/service-category-entity', serviceEntity.serviceCategory?.id]">{{serviceEntity.serviceCategory?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Quay lại</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'service-entity/'+ serviceEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Chỉnh sửa</span>
    </button>
</div>
