<div>
    <h2>
        <span jhiTranslate="CatunDentistApp.serviceEntity.home.title">Dịch vụ</span>
        <button class="btn btn-primary float-right jh-create-entity create-service-entity"
                [routerLink]="['/', { outlets: { popup: ['service-entity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="CatunDentistApp.serviceEntity.home.createLabel">
            Thêm dịch vụ
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="serviceEntities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                [callback]="reset.bind(this)">
                <th jhiSortBy="name"><span
                    jhiTranslate="CatunDentistApp.serviceEntity.name">Tên</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="basePrice"><span
                    jhiTranslate="CatunDentistApp.serviceEntity.basePrice">Giá</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="description"><span
                    jhiTranslate="CatunDentistApp.serviceEntity.description">Miêu tả</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="relatedProducts"><span
                    jhiTranslate="CatunDentistApp.serviceEntity.relatedProducts">Sản phẩm liên quan</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="serviceCategory.id"><span
                    jhiTranslate="CatunDentistApp.serviceEntity.serviceCategory">Loại dịch vụ</span>
                    <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)"
                   [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let serviceEntity of serviceEntities ;trackBy: trackId">
                <td><a [routerLink]="['../service-entity', serviceEntity.id ]">{{serviceEntity.name}}</a>
                </td>
                <td>{{serviceEntity.basePrice | currency:'VND':true }}</td>
                <td [innerHTML]="serviceEntity.description"></td>
                <td>
                    <div *ngIf="serviceEntity.relatedProducts.length > 0">
                        {{serviceEntity.relatedProducts}}
                    </div>
                </td>
                <td>
                    <div *ngIf="serviceEntity.serviceCategory">
                        <a [routerLink]="['../service-category-entity', serviceEntity.serviceCategory?.id ]">{{serviceEntity.serviceCategory?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../service-entity', serviceEntity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.view">Xem</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service-entity/'+ serviceEntity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.edit">Sửa</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service-entity/'+ serviceEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.delete">Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
