<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myServiceEntityLabel"
            jhiTranslate="CatunDentistApp.serviceEntity.home.createOrEditLabel">Tạo hoặc Chỉnh sửa
            dịch vụ</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <!-- Error Message -->
        <div *ngIf="errorMessage " class="alert alert-danger text-center">
            <strong>{{errorMessage}}</strong>
        </div>
        <!-- -->
        <div class="form-group" [hidden]="!serviceEntity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="serviceEntity.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name"
                   jhiTranslate="CatunDentistApp.serviceEntity.name">Tên dịch vụ</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="serviceEntity.name" required minlength="1" maxlength="50"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    Tên dịch vụ là bắt buộc.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.minlength"
                       jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                    Độ dài tối thiểu của tên dịch vụ là 1 ký tự.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.maxlength"
                       jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    Độ dài tối đa của tên dịch vụ là 50 ký tự.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label"
                   jhiTranslate="CatunDentistApp.serviceEntity.basePrice" for="field_basePrice">Giá
                dịch vụ</label>
            <input type="number" class="form-control" name="basePrice" id="field_basePrice"
                   [(ngModel)]="serviceEntity.basePrice"  [placeholder]="servicePriceSuggest" required/>
            <div
                [hidden]="!(editForm.controls.basePrice?.dirty && editForm.controls.basePrice?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.basePrice?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    Giá dịch vụ là bắt buộc.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.basePrice?.errors?.number"
                       jhiTranslate="entity.validation.number">
                    Giá dịch vụ phải là số.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label"
                   jhiTranslate="CatunDentistApp.serviceEntity.description"
                   for="field_description">Miêu tả dịch vụ</label>

            <app-ngx-editor height="100px" minHeight="50px" name="description"
                            id="field_description"
                            [(ngModel)]="serviceEntity.description">
            </app-ngx-editor>
        </div>

        <div class="form-group">
            <label class="form-control-label"
                   jhiTranslate="CatunDentistApp.serviceEntity.relatedProducts"
                   for="field_relatedProducts">Sản phẩm liên quan</label><br/>
            <div *ngFor="let product of initData.products" class="form-check"
                 id="field_relatedProducts" style="display: inline-block; margin: 5px 10px">
                <div class="form-check">
                    <label class="form-check-label" for="{{product.name}}">
                        <input name="relatedProducts[]" [checked]="trackRelatedProduct(product) > -1"
                               type="checkbox" class="form-check-input"
                               id="{{product.name}}" (change)="onProductSelect($event, product)">
                        &nbsp;
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                    <span>{{product.name}}({{product.price | currency:'VND':true:'2.0'}})</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label"
                   jhiTranslate="CatunDentistApp.serviceEntity.serviceCategory"
                   for="field_serviceCategory">Loại dịch vụ</label>
            <select class="form-control" id="field_serviceCategory" name="serviceCategory"
                    [(ngModel)]="serviceEntity.serviceCategory">
                <option [ngValue]="null">Chọn loại dịch vụ</option>
                <option
                    *ngFor="let serviceCategoryEntityOption of servicecategoryentities; trackBy: trackServiceCategoryEntityById"
                    [ngValue]="serviceCategoryEntityOption.id == serviceEntity.serviceCategory?.id ? serviceEntity.serviceCategory : serviceCategoryEntityOption">
                    {{serviceCategoryEntityOption.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiTranslate="entity.action.cancel">Hủy</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving"
                class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
    </div>
</form>
