<div>
    <h2>
        <span jhiTranslate="CatunDentistApp.treatment.titleTreatment">Treatments History</span>
        <button type="button" *ngIf="isDoctor"
                (click)="createTreatment()"
                class="btn btn-primary float-right jh-create-entity">
            <span class="fa fa-pencil"></span>&nbsp;
            <span class="d-none d-md-inline" jhiTranslate="CatunDentistApp.treatment.createTreatment">Create treatment</span>
        </button>
    </h2>

    <!-- Message -->
    <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->
    <br/>
    <div class="row">
        <div class="col-md-2">
            <input class="form-control" name="search" [(ngModel)]="search" type="text"/>
            <span id="searchclear" (click)="search=''"><i class="fa fa-times"></i></span>
        </div>
        <div class="col-md-1 text-center">
            <button class="btn btn-success" jhiTranslate="CatunDentistApp.treatment.search"
                    (click)="transition()">Search</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                    [callback]="transition.bind(this)">
                    <th jhiSortBy="name">
                        <span jhiTranslate="CatunDentistApp.treatment.labels.name">Patient</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th><span jhiTranslate="CatunDentistApp.treatment.labels.birthday">Birthday</span></th>
                    <th><span jhiTranslate="CatunDentistApp.treatment.labels.phone">Phone</span></th>
                    <th><span jhiTranslate="CatunDentistApp.treatment.labels.email">Email</span></th>
                    <!--<th><span jhiTranslate="CatunDentistApp.treatment.labels.doctor">Doctor</span></th>-->
                    <th><span jhiTranslate="CatunDentistApp.treatment.labels.services">Services</span></th>
                    <th><span jhiTranslate="CatunDentistApp.treatment.labels.timeFrom">Time from</span></th>
                    <th><span jhiTranslate="CatunDentistApp.treatment.labels.timeTo">Time to</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let t of treatments">
                    <td>{{t.name}}</td>
                    <td>{{t.birthDay}}</td>
                    <td>{{t.phone}}</td>
                    <td>{{t.email}}</td>
                    <!--<td>{{t.doctorName}}</td>-->
                    <td>{{t.services}}</td>
                    <td>{{t.treatmentTimeFrom}}</td>
                    <td>{{t.treatmentTimeTo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="button" *ngIf="isDoctor"
                                    (click)="finish(finishTreatment, t)"
                                    class="btn btn-success btn-sm">
                                <span class="fa fa-check"></span>
                                <span class="d-none d-md-inline"
                                      jhiTranslate="CatunDentistApp.treatment.finish">Finish</span>
                            </button>
                            <button type="submit" *ngIf="isDoctor"
                                    (click)="delete(deleteTreatment, t)"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-trash-o"></span>&nbsp;
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                            <button type="button"
                                    (click)="select(t)"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="CatunDentistApp.treatment.viewDetail">View detail</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="row justify-content-center">
        <nav>
            <ul class="pagination" *ngIf="pageable">
                <li class="page-item">
                    <a class="page-link" [routerLink]="['../treatment/']"
                       [queryParams]="{search: search, page: '1', sort: sort()}"
                       jhiTranslate="pagination.first">First</a>
                </li>
                <li class="page-item" *ngFor="let page of pageable.numberPages">
                    <a class="page-link" [routerLink]="['../treatment/']" [queryParams]="{search: search, page: page, sort: sort()}">{{page}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" [routerLink]="['../treatment/']"
                       [queryParams]="{search: search, page: pageable.totalPage, sort: sort()}"
                       jhiTranslate="pagination.last">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<!-- Finish treatment -->
<ng-template #finishTreatment let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.treatment.labels.finish">Finish treatment</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       <p *ngIf="tempTreatment"
          jhiTranslate="CatunDentistApp.treatment.message.finishConfirm">Are you sure to finish this treatment?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success"
                (click)="confirmFinish()"
                jhiTranslate="CatunDentistApp.treatment.finish">Finish
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeFinishModal()"
                jhiTranslate="CatunDentistApp.treatment.close">Close
        </button>
    </div>
</ng-template>

<!-- Delete treatment -->
<ng-template #deleteTreatment let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.treatment.labels.delete">Finish treatment</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><span>ID</span></td>
                    <td>{{tempTreatment.id}}</td>
                </tr>
                <tr>
                    <td><span jhiTranslate="CatunDentistApp.treatment.labels.name">Patient</span></td>
                    <td>{{tempTreatment.name}}</td>
                </tr>
                <tr>
                    <td><span jhiTranslate="CatunDentistApp.treatment.labels.doctor">Doctor</span></td>
                    <td>{{tempTreatment.doctorName}}</td>
                </tr>
                <tr>
                    <td><span jhiTranslate="CatunDentistApp.treatment.labels.timeFrom">Time from</span></td>
                    <td>{{tempTreatment.treatmentTimeFrom}}</td>
                </tr>
                <tr>
                    <td><span jhiTranslate="CatunDentistApp.treatment.labels.timeTo">Time to</span></td>
                    <td>{{tempTreatment.treatmentTimeTo}}</td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="tempTreatment"
           jhiTranslate="CatunDentistApp.treatment.message.deleteConfirm">Are you sure to delete this treatment?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="confirmDelete()"
                jhiTranslate="entity.action.delete">Delete
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeDeleteModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>
