<div class="row" (keyup)="next($event)" tabindex="0">
    <!-- BOOKING LIST -->
    <div class="col-md-3 booking-list justify-content-center text-center" id="booking-list">
        <div class="booking-wrapper" *ngIf="bookingList">
            <div class="card booking-box"
                 *ngFor="let tb of bookingList"
                 [ngClass]="{bookingActive:tb.active}"
                 (click)="select(tb)">
                <div class="card-body">
                    <h3 class="card-title">
                        <span class="booking-label" jhiTranslate="CatunDentistApp.todayBookingDisplay.list.code">Code:</span>
                        <span class="booking-value uppercase">{{tb.code}}</span>
                    </h3>
                    <p class="card-text">
                        <span class="booking-label" jhiTranslate="CatunDentistApp.todayBookingDisplay.list.time">Time:</span>
                        <span class="booking-value">{{tb.timeBooking}}</span>
                    </p>
                </div>
                <span *ngIf="tb.active" #scrollHere style="display: none"></span>
            </div>
        </div>
    </div>
    <!-- END BOOKING LIST -->

    <!-- DETAIL BOOKING -->
    <div class="col-md-9 detail-booking justify-content-center text-center" *ngIf="current">
        <div class="row detail-wrapper justify-content-center">
            <div class="jumbotron jumbotron-fluid detail-box">
                <div class="container">
                    <p class="lead" jhiTranslate="CatunDentistApp.todayBookingDisplay.detail.code">Appointment Code</p>
                    <h1 class="value display-3 uppercase bold">{{current.code}}</h1>
                    <p class="lead" jhiTranslate="CatunDentistApp.todayBookingDisplay.detail.patient">Patient Name</p>
                    <h3 class="value display-5">{{current.name +' (' + current.numberPhone + ')'}}</h3>
                    <p class="lead" jhiTranslate="CatunDentistApp.todayBookingDisplay.detail.time">Time</p>
                    <h4 class="value display-5">{{current.timeBooking}}</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- END DETAIL BOOKING -->

</div>
