/*************************
COMMON STYLE
 ************************/
.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
}

.row {
    outline:none;
}

.uppercase {
    text-transform: uppercase !important;
}

.bold {
    font-weight: bold;
}
/*************************
BOOKING LIST STYLE
 ************************/
.booking-list {
    direction: rtl;
    overflow-y: auto;
    height: 390px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.booking-box {
    margin-top: 2%;
    color: #007bff;
    background-color: #FFF;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(214, 214, 214, 0.77);
}

.booking-box.bookingActive {
    background-color: #3295ff;
    color: #FFF;
}

.bookingActive .card-title {
    color: #FFF;
}

.card {
    border-color: #3295ff;
}

.card .card-text {
    font-size: 150%;
}

.booking-label {
    font-weight: 400;
}

.booking-value {
    font-weight: 600;
}

/*************************
DETAIL BOOKING STYLE
 ************************/
.detail-box {
    color: #007bff;
    border: solid 5px #007bff;
    border-radius: .25rem;
    background-color: #FFF;
    width: 80%;
}

.detail-box .lead {
    font-weight: 600;
}

.detail-box .value {
    color: #f85441;
}
