<div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <!-- Error Message -->
    <div *ngIf="errorMessage " class="alert alert-danger text-center">
        <strong>{{errorMessage}}</strong>
    </div>
    <!-- -->

    <div class="row">

        <!-- Form customer info -->
        <div class="col-md-12">
            <form name="form" #userInfoForm="ngForm" (ngSubmit)="book()">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="name"
                                   jhiTranslate="CatunDentistApp.backofficeBookingEntity.bookingInfo.name">Họ
                                tên</label>
                            <input type="text" class="form-control" id="name"
                                   [(ngModel)]="cusinfo.nameVal" #name="ngModel" name="name" required>
                            <div *ngIf="name.dirty && name.invalid">
                                <small class="form-text text-danger" *ngIf="name.errors.required"
                                       jhiTranslate="CatunDentistApp.backofficeBookingEntity.message.nameRequired">
                                    Họ tên là bắt buộc.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label jhiTranslate="CatunDentistApp.backofficeBookingEntity.bookingInfo.dob">Ngày Tháng Năm
                                Sinh</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" name="dob" id="dob"
                                           [(ngModel)]="cusinfo.dobVal" ngbDatepicker #dob="ngbDatepicker"
                                           [minDate]="minDate" [maxDate]="maxDate" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="dobDpOnClick()"
                                                type="button">
                                            <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="dob.dirty && dob.invalid">
                                    <small class="form-text text-danger" *ngIf="dob.errors.required"
                                           jhiTranslate="CatunDentistApp.backofficeBookingEntity.message.dobRequired">
                                        Ngày tháng năm sinh là bắt buộc.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   [(ngModel)]="cusinfo.emailVal"
                                   #email="ngModel"
                                   pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]+$">
                            <div *ngIf="email.dirty && email.invalid">
                                <small class="form-text text-danger" *ngIf="email.errors.pattern"
                                       jhiTranslate="CatunDentistApp.backofficeBookingEntity.message.emailPattern">
                                    Email không đúng định dạng , vui lòng nhập lại địa chỉ Email.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="phone"
                                   jhiTranslate="CatunDentistApp.backofficeBookingEntity.bookingInfo.phone">Số điện
                                thoại</label>
                            <input type="text" class="form-control" id="phone" name="phone"
                                   [(ngModel)]="cusinfo.phoneVal" #phone="ngModel"
                                   pattern="[0-9]{9,14}$" required>
                            <div *ngIf="phone.dirty && phone.invalid">
                                <small class="form-text text-danger" *ngIf="phone.errors.required"
                                       jhiTranslate="CatunDentistApp.backofficeBookingEntity.message.phoneRequired">
                                    Số điện thoại là bắt buộc.
                                </small>
                                <small class="form-text text-danger" *ngIf="phone.errors.pattern"
                                       jhiTranslate="CatunDentistApp.backofficeBookingEntity.message.phonePattern">
                                    Số điện thoại không đúng định dạng , vui lòng nhập lại số điện thoại.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="history"
                                   jhiTranslate="CatunDentistApp.backofficeBookingEntity.bookingInfo.medicalHistory">Lịch
                                sử bệnh án</label>
                            <textarea type="textarea" rows="3" class="form-control" id="history"
                                      name="history"
                                      #history="ngModel" [(ngModel)]="cusinfo.historyVal"></textarea>
                            </app-ngx-editor>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="current"
                                   jhiTranslate="CatunDentistApp.backofficeBookingEntity.bookingInfo.currentState">Tình
                                trạng hiện tại</label>
                            <textarea type="textarea" rows="3" class="form-control" id="current"
                                      name="current"
                                      #current="ngModel" [(ngModel)]="cusinfo.currentVal"></textarea>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="services"
                                   jhiTranslate="CatunDentistApp.backofficeBookingEntity.bookingInfo.services">Sử dụng
                                dịch vụ</label>
                            <ng-multiselect-dropdown *ngIf="isDataAvailable" id="services" name="services"
                                                     [data]="serviceList"
                                                     [(ngModel)]="selectedItems"
                                                     [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="otherReq"
                                   jhiTranslate="CatunDentistApp.backofficeBookingEntity.bookingInfo.otherRequest">Yêu
                                cầu khác</label>
                            <textarea type="textarea" rows="3" class="form-control" id="otherReq"
                                      name="otherReq"
                                      #otherReq="ngModel" [(ngModel)]="cusinfo.ortherRequest"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" [disabled]="userInfoForm.form.invalid"
                            class="btn btn-primary" jhiTranslate="CatunDentistApp.backofficeBookingEntity.book">Đặt hẹn
                    </button>
                </div>
            </form>
        </div>
        <!-- End Form customer info -->
    </div>
</div>


