/* -------------------------------------------------- */
/* COMMON FOR PICKDAY, PICKTIME, CUSINFO */
/* -------------------------------------------------- */
.title-wrapper {
    margin: 3% 0;
}

.title-wrapper h5 {
    text-transform: uppercase;
    color: #4CA6FF;
}

.time-info {
    color: #4CA6FF;
}

.main-title {
    font-size: 290%;
}

.nav-arrow {
    color: #4CA6FF;
    cursor: pointer;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #4CA6FF;
}
