<h2>
    <span jhiTranslate="CatunDentistApp.warehouse.title">Vật tư</span>
    <button class="btn btn-primary btn-sm float-right jh-create-entity" (click)="openCreateStockModal(create)">
        <span class="fa fa-plus"></span>&nbsp;
        <span jhiTranslate="CatunDentistApp.warehouse.button.addStock">Thêm vật tư</span>
    </button>
</h2>

<!-- Message -->
<div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
    <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
        {{message}}
    </ngb-alert>
</div>
<!-- -->
<br/>

<div class="row">
    <div class="col-md-12" *ngIf="stockList">
        <div class="table-responsive text-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="CatunDentistApp.warehouse.label.code">Code</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouse.label.name">Name</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouse.label.supplierName">Supplier Name</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouse.label.inputDate">Input Date</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouse.label.amount">Amount</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouse.label.price">Price</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouse.label.expiryDays">Expiry Days</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let s of stockList">
                    <td>{{s.code}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.supplierName}}</td>
                    <td>{{s.dateInput}}</td>
                    <td>{{s.amount}}</td>
                    <td>{{+(s.price?.split('.').join('')) | currency:'VND':true}}</td>
                    <td>{{s.expiryDate}}</td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <button type="button"
                                    (click)="viewStockIODetails(s)"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="CatunDentistApp.warehouse.button.details">Details</span>
                            </button>
                            <button type="button"
                                    (click)="openDeleteStockModal(delete, s)"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-trash-o"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                            <button type="button"
                                    (click)="openAddStockIOModal(stockIO, s, 'NHAP')"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-plus-circle"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="CatunDentistApp.warehouse.button.input">Input</span>
                            </button>
                            <button type="button"
                                    (click)="openAddStockIOModal(stockIO, s, 'XUAT')"
                                    class="btn btn-default btn-sm">
                                <span class="fa fa-minus-circle"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="CatunDentistApp.warehouse.button.output">Output</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Create -->
<ng-template #create let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.warehouse.modal.create"> Thêm vật tư </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="form" #createForm="ngForm">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.warehouse.label.code">Code</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               [(ngModel)]="createStock.code"
                               #code="ngModel" name="code" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.warehouse.label.name">Name</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               [(ngModel)]="createStock.name"
                               #name="ngModel" name="name" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label"
                       jhiTranslate="CatunDentistApp.warehouse.label.supplierName">Supplier</label>
                <div class="form-group">
                    <ng-multiselect-dropdown *ngIf="isSupplierAvailable" required
                                             [data]="supplierDropdownList"
                                             (onSelect)="chooseSupplierOnCreate($event)"
                                             [settings]="supplierDropdownSettings">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.warehouse.label.inputDate">Input
                    Date</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" name="createStockInputDate" id="createStockInputDate"
                               [(ngModel)]="createStockInputDateVal" ngbDatepicker #createStockInputDate="ngbDatepicker" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="createStockInputDate.toggle()"
                                    type="button">
                                <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.warehouse.label.amount">Amount</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="number" min="1" class="form-control"
                               [(ngModel)]="createStock.amount"
                               #amount="ngModel" name="amount" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.warehouse.label.price">Price</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="number" min="1" class="form-control"
                               [(ngModel)]="createStock.price"
                               #price="ngModel" name="price" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.warehouse.label.expiryDays">Expiry
                    Date</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" name="createStockExpiryDate" id="createStockExpiryDate"
                               [(ngModel)]="createStockExpiryDateVal" ngbDatepicker #createStockExpiryDate="ngbDatepicker" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="createStockExpiryDate.toggle()"
                                    type="button">
                                <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Message -->
        <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
            <ngb-alert [type]="createAlertType" *ngIf="!createAlertClosed && createMessage" (close)="createAlertClosed = true">
                {{createMessage}}
            </ngb-alert>
        </div>
        <!-- -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                [disabled]="createForm.form.invalid"
                (click)="confirmCreate()"
                jhiTranslate="entity.action.save">Save
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeCreateModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>

<!-- Delete -->
<ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.warehouse.modal.delete"> Xóa thông tin vật tư </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table borderless" *ngIf="deleteStock">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.warehouse.label.code">Code</span></th>
                <th><span jhiTranslate="CatunDentistApp.warehouse.label.name">Name</span></th>
                <th><span jhiTranslate="CatunDentistApp.warehouse.label.supplierName">Supplier Name</span></th>
                <th><span jhiTranslate="CatunDentistApp.warehouse.label.inputDate">Input Date</span></th>
                <th><span jhiTranslate="CatunDentistApp.warehouse.label.amount">Amount</span></th>
                <th><span jhiTranslate="CatunDentistApp.warehouse.label.price">Price</span></th>
                <th><span jhiTranslate="CatunDentistApp.warehouse.label.expiryDays">Expiry Days</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{deleteStock.code}}</td>
                <td>{{deleteStock.name}}</td>
                <td>{{deleteStock.supplierName}}</td>
                <td>{{deleteStock.dateInput}}</td>
                <td>{{deleteStock.amount}}</td>
                <td>{{+(deleteStock.price?.split('.').join('')) | currency:'VND':true}}</td>
                <td>{{deleteStock.expiryDate}}</td>
            </tr>
            </tbody>
        </table>
        <p *ngIf="deleteStock" jhiTranslate="CatunDentistApp.warehouse.modal.deleteMessage">Are you sure to delete this
            stock data?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="confirmDelete()"
                jhiTranslate="entity.action.delete">Delete
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeDeleteModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>

<!-- Stock IO -->
<ng-template #stockIO let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.warehouse.modal.stockIO"> Thêm thông tin nhập/xuất vật
            tư </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="form" #addStockIOForm="ngForm">
            <div class="form-group" *ngIf="addStockIO">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.warehouse.label.stockIOStockName">Stock
                    Name</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" [value]="addStockIO.warehouseName" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="addStockIO">
                <label class="form-control-label"
                       jhiTranslate="CatunDentistApp.warehouse.label.stockIOType">Type</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" [value]="addStockIO.type" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label"
                       jhiTranslate="CatunDentistApp.warehouse.label.stockIOName">Name</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               [(ngModel)]="addStockIO.name"
                               #stockIOName="ngModel" name="stockIOName" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label"
                       jhiTranslate="CatunDentistApp.warehouse.label.amountIOput">Amount</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="number" min="1" class="form-control"
                               [(ngModel)]="addStockIO.amountIOput"
                               #amountIOput="ngModel" name="amountIOput" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.warehouse.label.stockIODate">Time
                    Input/Output</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" name="stockIODate" id="stockIODate" [(ngModel)]="stockIODateVal" ngbDatepicker #stockIODate="ngbDatepicker" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="stockIODate.toggle()"
                                    type="button">
                                <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Message -->
        <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
            <ngb-alert [type]="createAlertType" *ngIf="!createAlertClosed && createMessage" (close)="createAlertClosed = true">
                {{createMessage}}
            </ngb-alert>
        </div>
        <!-- -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                [disabled]="addStockIOForm.form.invalid"
                (click)="confirmAddStockIO()"
                jhiTranslate="entity.action.save">Save
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeAddStockIOModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>
