<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="settingsAccount">Cài Đặt Thông Tin Tài Khoản
                [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Cài đặt thành công !</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm"
                  *ngIf="settingsAccount" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">Tên</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"
                           placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50
                           #firstNameInput="ngModel" required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="firstNameInput.errors.required">
                            Tên là bắt buộc .
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="firstNameInput.errors.minlength">
                            Tên ít nhất phải có 1 kí tự .
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="firstNameInput.errors.maxlength">
                            Độ dài của tên không được vượt quá 50 ký tự .
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Họ</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50
                           #lastNameInput="ngModel" required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="lastNameInput.errors.required">
                            Họ là bắt buộc .
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="lastNameInput.errors.minlength">
                            Độ dài của họ có ít nhất 1 kí tự.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="lastNameInput.errors.maxlength">
                            Độ dài của họ không được vượt quá 50 ký tự.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.email" minlength="5" maxlength="100"
                           #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.required">
                            Email là bắt buộc.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.email">
                            Email không hợp lẹ.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.minlength">
                            Email là bắt buộc và có ít nhất 5 ký tự.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.maxlength">
                            Email của bạn không được vượt quá 100 ký tự.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="languages && languages.length > 0">
                    <label for="langKey">Ngôn Ngữ</label>
                    <select class="form-control" id="langKey" name="langKey"
                            [(ngModel)]="settingsAccount.langKey">
                        <option *ngFor="let language of languages" [value]="language">{{language |
                            findLanguageFromKey}}
                        </option>
                    </select>
                </div>
                <button type="submit" [disabled]="settingsForm.form.invalid"
                        class="btn btn-primary">Cập Nhật
                </button>
            </form>
        </div>
    </div>

</div>
