<div>
    <div class="row justify-content-center">
        <div class="col-md-10 mx-auto">
            <h1 jhiTranslate="register.title">Đăng Ký</h1>

            <div class="alert alert-success" *ngIf="success">
                <span jhiTranslate="register.messages.success"><strong>Đăng ký thành công !</strong> Vui long check Email.</span>
            </div>

            <!--<div class="alert alert-danger" *ngIf="error">-->
                <!--<span-->
                    <!--jhiTranslate="register.messages.error.fail"><strong>Đăng ký thất bại !</strong> Vui lòng thử đăng ký lại.</span>-->
            <!--</div>-->

            <!--<div class="alert alert-danger" *ngIf="errorUserExists">-->
                <!--<span jhiTranslate="register.messages.error.userexists"><strong>Số điện thoại đã được đăng ký !</strong> Vui lòng đăng ký lại với số điện thoại khác.</span>-->
            <!--</div>-->

            <!--<div class="alert alert-danger" *ngIf="errorEmailExists">-->
                <!--<span jhiTranslate="register.messages.error.emailexists"><strong>Email đã được đăng ký !</strong> Vui lòng nhập vào email khác.</span>-->
            <!--</div>-->

            <div class="alert alert-danger" *ngIf="doNotMatch">
                <span jhiTranslate="register.messages.error.wrongconfirmpassword">Mật khẩu xác nhận không đúng với mật khẩu mới!</span>
            </div>

            <!-- Message -->
            <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
                <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">{{message}}</ngb-alert>
            </div>
            <!-- -->
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm"
                  *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="fullName"
                           jhiTranslate="register.form.fullname">Họ Và Tên</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.fullName"
                           id="fullName" name="fullName" #fullName="ngModel">
                </div>

                <div class="form-group">
                    <label jhiTranslate="register.form.birthday">Ngày Sinh</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="dob" id="dob"
                                   [(ngModel)]="birthday" ngbDatepicker #dob="ngbDatepicker"
                                   [minDate]="minDate" [maxDate]="maxDate">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dobDpOnClick()"
                                        type="button">
                                    <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="address"
                           jhiTranslate="register.form.address">Địa Chỉ</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.address"
                           id="address" name="address" #address="ngModel">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="city" jhiTranslate="register.form.city">Thành
                        Phố</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.city"
                           id="city" name="city" #city="ngModel">
                </div>

                <div class="form-group">
                    <label jhiTranslate="register.form.channel">Bạn Biết Đến Phòng Khám Quá Kênh
                        Nào</label>
                    <select class="form-control" [(ngModel)]="registerAccount.channel" id="channel"
                            name="channel">
                        <option *ngFor="let channel of channels" jhiTranslate="{{channel}}"
                                [ngValue]="getChannelValue(channel)"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email"
                           #email="ngModel"
                           [(ngModel)]="registerAccount.email"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.pattern"
                               jhiTranslate="register.messages.validate.email.format">
                            Email không đúng format , vui lòng nhập lại địa chỉ Email.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="login"
                           jhiTranslate="register.form.phone">Số Điện Thoại</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login"
                           id="login" name="login" #login="ngModel"
                           required minlength="9" maxlength="12" pattern="[0-9]{8,12}">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required"
                               jhiTranslate="register.messages.validate.phone.required">
                            Số điện thoại là bắt buộc.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               jhiTranslate="register.messages.validate.phone.minlength">
                            Số điện thoại có ít nhất 9 chữ số.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               jhiTranslate="register.messages.validate.phone.maxlength">
                            Số điện thoại có nhiều nhất 12 chữ số.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                               jhiTranslate="register.messages.validate.phone.format">
                            Số điện thoại chỉ chứa chữ số , từ 9 đến 12 chữ số.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="password"
                           jhiTranslate="register.form.password">Mật Khẩu</label>
                    <input type="password" class="form-control" id="password" name="password"
                           #password="ngModel"
                           [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               jhiTranslate="register.messages.validate.password.required">
                            Mật khẩu là bắt buộc.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               jhiTranslate="register.messages.validate.password.minlength">
                            Mật khẩu có ít nhất 4 ký tự.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               jhiTranslate="register.messages.validate.password.maxlength">
                            Mật khẩu có chiều dài tối đa là 50 ký tự.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword"
                           jhiTranslate="register.form.confirmPassword">Nhập Lại Mật Khẩu</label>
                    <input type="password" class="form-control" id="confirmPassword"
                           name="confirmPassword" #confirmPasswordInput="ngModel"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required"
                               jhiTranslate="register.messages.validate.confirmPassword.required">
                            Mật khẩu nhập lại là bắt buộc.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength"
                               jhiTranslate="register.messages.validate.confirmPassword.minlength">
                            Mật khẩu nhập lại có ít nhất 4 ký tự.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength"
                               jhiTranslate="register.messages.validate.confirmPassword.maxlength">
                            Mật khẩu nhập lại có tối đa là 50 ký tự.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary"
                        jhiTranslate="register.form.button">Đăng Ký
                </button>
            </form>
            <p></p>
        </div>
    </div>
</div>
