<jhi-page-ribbon></jhi-page-ribbon>
<div class="page-wrapper container-fluid">
    <div class="main-menu">
        <router-outlet name="navbar"></router-outlet>
    </div>
    <div class="page-content card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>
