<footer>
    <div class="text-center">
        <!--<div class="col-md-6">-->
            <!--<ul class="footer-nav">-->
                <!--<li><a href="#">Giới thiệu</a></li>-->
                <!--<li><a href="#">Đặt hẹn</a></li>-->
                <!--<li><a href="#">Phòng khám</a></li>-->
                <!--<li><a href="#">Liên hệ</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<ul class="social-links">-->
                <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                <!--<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>-->
                <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
                <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
            <!--</ul>-->
        <!--</div>-->
        Copyright &copy; Catun Dentist 2018 all rights reserved.
    </div>
</footer>
