<h2>
    <span jhiTranslate="CatunDentistApp.expenditure.title">Chi phí</span>
    <button class="btn btn-primary btn-sm float-right jh-create-entity" (click)="formDisplay = !formDisplay">
        <span class="fa fa-plus"></span>&nbsp;
        <span jhiTranslate="CatunDentistApp.expenditure.button.addExpenditure">Thêm thông tin chi phí</span>
    </button>
</h2>

<div class="col-md-10 mx-auto">
    <form name="form" #expenditureForm="ngForm" (ngSubmit)="saveExpenditure(save)" *ngIf="formDisplay">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label jhiTranslate="CatunDentistApp.expenditure.label.date">Ngày</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="date" id="date"
                                   [(ngModel)]="dateVal" ngbDatepicker #date="ngbDatepicker" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dateDpOnClick()"
                                        type="button">
                                    <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label"
                           for="field_type" jhiTranslate="CatunDentistApp.expenditure.label.type">Loại chi phì</label>
                    <select class="form-control" id="field_type" name="type"
                            [(ngModel)]="newExpenditure.type" required>
                        <option [value]="'THU'">Thu</option>
                        <option [value]="'CHI'">Chi</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="CatunDentistApp.expenditure.label.name">Tên</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="name"
                                   [(ngModel)]="newExpenditure.name"
                                   #name="ngModel" name="name" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="CatunDentistApp.expenditure.label.value">Giá
                        trị</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="number" class="form-control" id="value"
                                   [(ngModel)]="newExpenditure.value"
                                   #value="ngModel" name="value" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <button class="btn btn-primary btn-sm"
                        type="submit" [disabled]="expenditureForm.form.invalid">
                    <span class="fa fa-check"></span>&nbsp;
                    <span jhiTranslate="CatunDentistApp.expenditure.button.save">Lưu</span>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Message -->
<div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
    <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
        {{message}}
    </ngb-alert>
</div>
<!-- -->
<br/>

<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="row">
            <div class="col-md-4">
                <h6><span jhiTranslate="CatunDentistApp.expenditure.label.listFrom">Danh sách chi phí từ ngày: </span>
                </h6>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control"
                               [(ngModel)]="fromDateVal" ngbDatepicker #fromDate="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="fromDateDpOnClick()"
                                    type="button">
                                <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h6><span jhiTranslate="CatunDentistApp.expenditure.label.listTo"> đến ngày: </span></h6>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control"
                               [(ngModel)]="toDateVal" ngbDatepicker #toDate="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="toDateDpOnClick()"
                                    type="button">
                                <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding-top: 2%">
                <button class="btn btn-info btn-sm" (click)="search()">
                    <span class="fa fa-eye"></span>&nbsp;
                    <span jhiTranslate="CatunDentistApp.expenditure.button.display">Hiển thị</span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-10 mx-auto">
        <div style="float:right;">
            <table class="table table-info table-responsive table-sm text-center"
                   style="font-size: 20px; font-weight:bold;">
                <thead>
                <tr>
                    <th>
                    <span class="badge badge-pill badge-success"
                          jhiTranslate="CatunDentistApp.expenditure.label.totalIncome">Tổng thu</span>
                    </th>
                    <th>
                    <span class="badge badge-pill badge-danger"
                          jhiTranslate="CatunDentistApp.expenditure.label.totalOutcome">Tổng chi</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="expenditureRes">
                    <td>
                        <span>{{+(expenditureRes.totalCollect?.split('.').join('')) | currency:'VND':true}}</span>
                    </td>
                    <td>
                        <span>{{+(expenditureRes.totalExpenditure?.split('.').join('')) | currency:'VND':true}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <div class="table-responsive text-center" *ngIf="expenditureList">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="CatunDentistApp.expenditure.label.type">Loại chi phí</span></th>
                    <th><span jhiTranslate="CatunDentistApp.expenditure.label.name">Tên</span></th>
                    <th><span jhiTranslate="CatunDentistApp.expenditure.label.value">Giá trị</span></th>
                    <th><span jhiTranslate="CatunDentistApp.expenditure.label.date">Ngày</span></th>
                    <th><span jhiTranslate="CatunDentistApp.expenditure.label.createdBy">Tạo bởi</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let e of expenditureList">
                    <td>
                        <h5><span class="badge badge-pill badge-success" *ngIf="e.type=='THU'">{{e.type}}</span></h5>
                        <h5><span class="badge badge-pill badge-danger" *ngIf="e.type=='CHI'">{{e.type}}</span></h5>
                    </td>
                    <td>{{e.name}}</td>
                    <td>{{+(e.value?.split('.').join('')) | currency:'VND':true}}</td>
                    <td>{{e.createDateExpenditure}}</td>
                    <td>{{e.createByName}}</td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    (click)="deleteExpenditure(delete, e)"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-trash-o"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete -->
<ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.expenditure.label.delete">Delete expenditure</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table borderless" *ngIf="tempExpenditure">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.expenditure.label.type">Type</span></th>
                <th><span jhiTranslate="CatunDentistApp.expenditure.label.name">Name</span></th>
                <th><span jhiTranslate="CatunDentistApp.expenditure.label.value">Value</span></th>
                <th><span jhiTranslate="CatunDentistApp.expenditure.label.date">Date</span></th>
                <th><span jhiTranslate="CatunDentistApp.expenditure.label.createdBy">Created by</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{tempExpenditure.type}}</td>
                <td>{{tempExpenditure.name}}</td>
                <td>{{+(tempExpenditure.value?.split('.').join('')) | currency:'VND':true}}</td>
                <td>{{tempExpenditure.createDateExpenditure}}</td>
                <td>{{tempExpenditure.createByName}}</td>
            </tr>
            </tbody>
        </table>
        <p *ngIf="tempExpenditure" jhiTranslate="CatunDentistApp.expenditure.label.deleteMessage">Are you sure to delete
            this expenditure data?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="confirmDelete()"
                jhiTranslate="entity.action.delete">Delete
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeDeleteModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>

<!-- Confirm save-->
<ng-template #save let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.expenditure.label.save">Save expenditure</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table borderless" *ngIf="newExpenditure">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.expenditure.label.type">Type</span></th>
                <th><span jhiTranslate="CatunDentistApp.expenditure.label.name">Name</span></th>
                <th><span jhiTranslate="CatunDentistApp.expenditure.label.value">Value</span></th>
                <th><span jhiTranslate="CatunDentistApp.expenditure.label.date">Date</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{newExpenditure.type}}</td>
                <td>{{newExpenditure.name}}</td>
                <td>{{newExpenditure.value}}</td>
                <td>{{newExpenditure.createDate}}</td>
            </tr>
            </tbody>
        </table>
        <p *ngIf="newExpenditure" jhiTranslate="CatunDentistApp.expenditure.label.saveMessage">Are you sure to save
            this expenditure data?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="confirmSave()"
                jhiTranslate="entity.action.save">Save
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeSaveModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>
