/**
Gray background color: #D7D7D7
Gray border/arrow color: #818181
 */

/* -------------------------------------------------- */
/* COMMON FOR PICKDAY, PICKTIME, CUSINFO */
/* -------------------------------------------------- */
.title-wrapper {
    margin: 3% 0;
}

.title-wrapper h4 {
    text-transform: uppercase;
    color: #4CA6FF;
}

.main-title {
    font-size: 290%;
}

.nav-arrow {
    color: #4CA6FF;
    cursor: pointer;
}

.time-info {
    color: #4CA6FF;
}

/* -------------------------------------------------- */
/* ONLY PICKTIME */
/* -------------------------------------------------- */
.timeslot {
    border: 1px solid rgba(169, 169, 169, 0.25);
    box-shadow: 0px 0px 20px rgba(214, 214, 214, 0.77);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    border-radius: 4%;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    padding: 19px 5px;
    font-size: 85%;
    font-weight: bold;
    width: 100%;
}

.timeslot:hover, .timeslot.selected {
    background-color: #4CA6FF;
    color: #FFF;
    border: 1px solid #FFF;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s, border 0.2s, font-weight 0.2s;
}
