<div class="row justify-content-center">
    <div class="col-md-11 mx-auto">
        <div class="col-md-12 text-center timeslots-wrapper">
            <div class="col-md-1 text-center timeslot"
                 [ngClass]="{selected: booking.timeVal && booking.timeVal == ts.time}"
                 *ngFor="let ts of timeSlots"
                 #timeSlot attr.data-ts="{{ts.time}}"
                 (click)="chooseTimeSlot(timeSlot.getAttribute('data-ts'))">
                <span>{{ts.time}}</span>
            </div>
        </div>
    </div>
</div>
