<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Mật Khẩu [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Cập nhật thành công !</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <strong>Xảy ra lỗi !</strong> Mật khẩu không thể thay đỗi.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Xác nhận lại mật khẩu không chính xác!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="password">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="password" name="password"
                           #passwordInput="ngModel"
                           placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           [(ngModel)]="password" minlength=4 maxlength=50 required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                            Mật khẩu là bắt buộc.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                            Mật khẩu là bắt buộc và có ít nhất 4 ký tự.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                            Độ dài mật khẩu không được vượt quá 50 ký tự.
                        </small>
                    </div>
                    <jhi-password-strength-bar
                        [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Nhập lại mật khẩu
                        mới</label>
                    <input type="password" class="form-control" id="confirmPassword"
                           name="confirmPassword" #confirmPasswordInput="ngModel"
                           placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                            Mật khẩu là bắt buộc.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                            Mật khẩu là bắt buộc và có ít nhất 4 ký tự.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                            Mật khẩu là bắt buộc và có tối đa 50 ký tự.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid"
                        class="btn btn-primary">Cập Nhật
                </button>
            </form>
        </div>
    </div>
</div>
