<h2>
    <span jhiTranslate="CatunDentistApp.warehouseDetail.title">Chi tiết nhập/xuất vật tư</span>
</h2>

<!-- Message -->
<div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
    <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
        {{message}}
    </ngb-alert>
</div>
<!-- -->
<br/>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-default btn-sm"
                [routerLink]="['/warehouse']">
            <span class="fa fa-arrow-circle-left"></span>&nbsp;
            <span jhiTranslate="entity.action.back">Back</span>
        </button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12" *ngIf="stockDetailList">
        <div class="table-responsive text-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="CatunDentistApp.warehouseDetail.label.userName">Tạo bởi</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouseDetail.label.type">Loại</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouseDetail.label.timeIOput">Ngày tạo</span></th>
                    <th><span jhiTranslate="CatunDentistApp.warehouseDetail.label.amountIOput">Số lượng</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let s of stockDetailList">
                    <td>{{s.userName}}</td>
                    <td>
                        <h5><span class="badge badge-pill badge-success" *ngIf="s.type=='NHAP'">{{s.type}}</span></h5>
                        <h5><span class="badge badge-pill badge-danger" *ngIf="s.type=='XUAT'">{{s.type}}</span></h5>
                    </td>
                    <td>{{s.timeIOput}}</td>
                    <td>{{s.amountIOput}}</td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <button type="button"
                                    (click)="openDeleteStockDetailModal(delete, s)"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-trash-o"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete -->
<ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.warehouseDetail.modal.delete"> Xóa thông tin vật tư </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table borderless" *ngIf="deleteStockDetail">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.warehouseDetail.label.userName">Tạo bởi</span></th>
                <th><span jhiTranslate="CatunDentistApp.warehouseDetail.label.type">Loại</span></th>
                <th><span jhiTranslate="CatunDentistApp.warehouseDetail.label.timeIOput">Ngày tạo</span></th>
                <th><span jhiTranslate="CatunDentistApp.warehouseDetail.label.amountIOput">Số lượng</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{deleteStockDetail.userName}}</td>
                <td>
                    <h5><span class="badge badge-pill badge-success" *ngIf="deleteStockDetail.type=='NHAP'">{{deleteStockDetail.type}}</span></h5>
                    <h5><span class="badge badge-pill badge-danger" *ngIf="deleteStockDetail.type=='XUAT'">{{deleteStockDetail.type}}</span></h5>
                </td>
                <td>{{deleteStockDetail.timeIOput}}</td>
                <td>{{deleteStockDetail.amountIOput}}</td>
            </tr>
            </tbody>
        </table>
        <p *ngIf="deleteStock" jhiTranslate="CatunDentistApp.warehouseDetail.modal.deleteMessage">Are you sure to delete this
            stock detail data?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="confirmDelete()"
                jhiTranslate="entity.action.delete">Delete
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeDeleteModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>
