<h2 jhiTranslate="CatunDentistApp.treatment.create.title">Backoffice Booking</h2>
<div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <!-- Message -->
    <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->

    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default btn-sm"
                    [routerLink]="['/treatment']">
                <span class="fa fa-arrow-circle-left"></span>&nbsp;
                <span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
    </div>

    <div class="row">
        <!-- Form customer info -->
        <div class="col-md-4">
            <form name="form" #userInfoForm="ngForm" (ngSubmit)="book()">
                <div class="form-group">
                    <label jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.date">Ngày
                        hẹn</label>
                    <div class="form-group" *ngIf="dayoffs && holidays">
                        <div class="input-group">
                            <input name="date" id="date"
                                   [(ngModel)]="bookDateObj"
                                   (click)="dateDpOnClick()"
                                   (ngModelChange)="selectBookDate($event)"
                                   class="form-control" [minDate]="bookMinDate"
                                   ngbDatepicker #date="ngbDatepicker" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dateDpOnClick()"
                                        type="button">
                                    <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="date.dirty && date.invalid">
                            <small class="form-text text-danger" *ngIf="date.errors.required"
                                   jhiTranslate="CatunDentistApp.treatment.create.message.dateRequired">
                                Ngày hẹn là bắt buộc.
                            </small>
                        </div>
                        <div>
                            <small class="form-text text-danger">
                                {{dateOffSelectedMsg}}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.time"
                           for="time">Giờ hẹn</label>
                    <ng-multiselect-dropdown class="time-pick" *ngIf="isTimeSlotDataAvailable"
                                             id="time" name="time"
                                             [data]="timeSlotList"
                                             [(ngModel)]="selectedTimeSlot"
                                             [settings]="timeSlotDropdownSettings" required>
                    </ng-multiselect-dropdown>
                    <div *ngIf="selectedTimeSlot && selectedTimeSlot.length < 1">
                        <small class="form-text text-danger"
                               jhiTranslate="CatunDentistApp.treatment.create.message.timeRequired">
                            Thời gian hẹn là bắt buộc.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="name"
                           jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.name">Họ
                        tên</label>
                    <input type="text" class="form-control" id="name"
                           [(ngModel)]="cusinfo.nameVal" #name="ngModel" name="name" required>
                    <div *ngIf="name.dirty && name.invalid">
                        <small class="form-text text-danger" *ngIf="name.errors.required"
                               jhiTranslate="CatunDentistApp.treatment.create.message.nameRequired">
                            Họ tên là bắt buộc.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.dob">Ngày
                        Tháng Năm Sinh</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="dob" id="dob"
                                   [(ngModel)]="cusinfo.dobVal" ngbDatepicker #dob="ngbDatepicker"
                                   [minDate]="minDate" [maxDate]="maxDate" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dobDpOnClick()"
                                        type="button">
                                    <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="dob.dirty && dob.invalid">
                            <small class="form-text text-danger" *ngIf="dob.errors.required"
                                   jhiTranslate="CatunDentistApp.treatment.create.message.dobRequired">
                                Ngày tháng năm sinh là bắt buộc.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.email"
                           for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email"
                           [(ngModel)]="cusinfo.emailVal"
                           #email="ngModel"
                           pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]+$">
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.pattern"
                               jhiTranslate="CatunDentistApp.treatment.create.message.emailPattern">
                            Email không đúng định dạng , vui lòng nhập lại địa chỉ Email.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.phone"
                           for="phone">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone" name="phone"
                           [(ngModel)]="cusinfo.phoneVal" #phone="ngModel"
                           pattern="[0-9]+$" required>
                    <div *ngIf="phone.dirty && phone.invalid">
                        <small class="form-text text-danger" *ngIf="phone.errors.required"
                               jhiTranslate="CatunDentistApp.treatment.create.message.phoneRequired">
                            Số điện thoại là bắt buộc.
                        </small>
                        <small class="form-text text-danger" *ngIf="phone.errors.pattern"
                               jhiTranslate="CatunDentistApp.treatment.create.message.phonePattern">
                            Số điện thoại không đúng định dạng , vui lòng nhập lại số điện thoại.
                        </small>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="form-control-label"-->
                           <!--jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.medicalHistory"-->
                           <!--for="history">Lịch sử bệnh án</label>-->
                    <!--<textarea type="textarea" rows="3" class="form-control" id="history"-->
                              <!--name="history"-->
                              <!--#history="ngModel" [(ngModel)]="cusinfo.historyVal"></textarea>-->
                    <!--</app-ngx-editor>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" for="current"-->
                           <!--jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.currentState">Tình-->
                        <!--trạng hiện tại</label>-->
                    <!--<textarea type="textarea" rows="3" class="form-control" id="current"-->
                              <!--name="current"-->
                              <!--#current="ngModel" [(ngModel)]="cusinfo.currentVal"></textarea>-->

                <!--</div>-->
                <div class="form-group">
                    <label class="form-control-label" for="services"
                           jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.services">Sử
                        dụng dịch vụ</label>
                    <ng-multiselect-dropdown *ngIf="isDataAvailable" id="services" name="services"
                                             [data]="serviceList"
                                             [(ngModel)]="selectedItems"
                                             [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="otherReq"
                           jhiTranslate="CatunDentistApp.treatment.create.bookingInfo.otherRequest">Yêu
                        cầu khác</label>
                    <textarea type="textarea" rows="3" class="form-control" id="otherReq"
                              name="otherReq"
                              #otherReq="ngModel" [(ngModel)]="cusinfo.ortherRequest"></textarea>
                </div>
                <button type="submit" [disabled]="userInfoForm.form.invalid" class="btn btn-primary"
                        jhiTranslate="CatunDentistApp.treatment.create.book">Đặt hẹn
                </button>
            </form>
        </div>
        <!-- End Form customer info -->

        <!-- DAYOFFS TABLE -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th jhiTranslate="CatunDentistApp.treatment.create.dayoff">
                                Dayoff
                            </th>
                            <th jhiTranslate="CatunDentistApp.treatment.create.reason">
                                Reason
                            </th>
                        </tr>

                        </thead>
                        <tbody *ngIf="dayoffs">
                        <tr *ngFor="let dayoff of dayoffs">
                            <td> {{dayoff.dateOff}}</td>
                            <td> {{dayoff.reason}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END DAYOFFS TABLE -->

        <!-- HOLIDAYS TABLE -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th jhiTranslate="CatunDentistApp.treatment.create.holiday">
                                Holiday
                            </th>
                            <th jhiTranslate="CatunDentistApp.treatment.create.reason">
                                Reason
                            </th>
                        </tr>

                        </thead>
                        <tbody *ngIf="holidays">
                        <tr *ngFor="let holiday of holidays">
                            <td> {{holiday.dateOff}}</td>
                            <td> {{holiday.reason}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END HOLIDAYS TABLE -->
    </div>
</div>


