/*************************
COMMON STYLE
 ************************/
.hide {
    display: none;
}

.form-control-label {
    font-weight: bold;
}

.page-title {
    margin-bottom: 2%;
    font-size: 200%;
    font-weight: 400;
}
.spacing-top {
    padding-top: 0;
}

.no-validate.ng-invalid, .no-validate.ng-valid{
    border-left: 0;
}

/*************************
DETAIL-DATA STYLE
 ************************/
.drop-box {
    border: dashed 1px gray;
    color: gray;
    font-size: 110%;
    border-radius: 3%;
    padding: 4%;
    cursor: pointer;
}

.date-form-group {
    padding-top: 10%;
}

/*************************
IMAGE PREVIEW STYLE
 ************************/
.img-gallery {
    z-index: 0;
}
.ngx-gallery-thumbnail {
    padding-right: 10px;
    content: "test";
}

.choose-img-warn-box {
    padding-top: 10%;
}

.choose-img-warn {
    font-size: 150%;
    font-weight: bold;
    color: gray;
    opacity: 0.5;
    padding: 5%;
}

/*************************
MOBILE STYLE
 ************************/
@media (max-width: 480px), (max-width: 767px),(max-width: 990px) {
    .date-form-group {
        padding-top: 0;
    }
    .spacing-top {
        padding-top: 4%;
    }
}
