<label class="page-title"
       jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.title.edit" translateValues="{id: '{{historyId}}'}"
       *ngIf="!this.isAddNew"></label>
<label class="page-title"
       jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.title.create"
       *ngIf="this.isAddNew"></label>

<div class="row" *ngIf="treatment">
    <div class="col-md-12">
        <button class="btn btn-default btn-sm"
                [routerLink]="['/treatment-history/',treatment.id]">
            <span class="fa fa-arrow-circle-left"></span>&nbsp;
            <span jhiTranslate="entity.action.back">Back</span>
        </button>
    </div>
</div>

<div class="row">
    <!-- Form History Details -->
    <div class="col-md-7 detail-data">
        <!-- Message -->
        <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
            <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message"
                       (close)="staticAlertClosed = true">{{message}}
            </ngb-alert>
        </div>
        <!-- -->
        <form name="form" #detailForm="ngForm" (ngSubmit)="save()">
            <div class="form-group">
                <label class="form-control-label"
                       jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.image.label">Images</label>
                <input class="hide" accept=".jpg, .jpeg, .png" id="select-file"
                       (change)="onFileSelect($event, 'select')" #selectFile type="file" multiple/>
                <div class="drop-box text-center" (click)="selectFile.click()" (drop)="onFileSelect($event, 'drop')"
                     (dragover)="allowDrop($event)">
                    <span jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.image.selectOrDrop">Click to select / Drop images here</span>
                </div>
            </div>
            <div class="form-group" *ngIf="patient">
                <label class="form-control-label"
                       jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.patient">Patient Name</label>
                <br/>
                <input type="text" class="form-control"
                       name="patient" [value]="patient.name+'('+patient.phone+')'" readonly/>
            </div>
            <div class="form-group" *ngIf="doctorName">
                <label class="form-control-label"
                       jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.doctorName">Doctor Name</label>
                <br/>
                <input type="text" class="form-control"
                       name="doctorName" [value]="doctorName" readonly/>
            </div>
            <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="CatunDentistApp.medicalHistoryListEntity.labels.tipName">Tip Name</label>-->
            <!--<input type="text" class="form-control" name="tipName"-->
            <!--[(ngModel)]="detailsReq.tipName"-->
            <!--#tipName="ngModel"-->
            <!--required>-->
            <!--<div *ngIf="tipName.dirty && tipName.invalid">-->
            <!--<small class="form-text text-danger" *ngIf="tipName.errors.required"-->
            <!--jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.validateMessage.tipNameRequired">-->
            <!--Tip Name is required.-->
            <!--</small>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label"
                               jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.dateIn">Date In</label>
                        <div class="form-group" class="date-form-group">
                            <div class="input-group">
                                <input class="form-control" ngbDatepicker name="dateIn"
                                       [(ngModel)]="dateInVal"
                                       #dateInDp="ngbDatepicker"
                                       required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dateInDpOnClick()"
                                            type="button">
                                        <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="dateInDp.dirty && dateInDp.invalid">
                            <small class="form-text text-danger" *ngIf="dateInDp.errors.required"
                                   jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.validateMessage.dateInRequired">
                                Date In is required
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="form-group">
                        <label class="form-control-label spacing-top"
                               jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.timeIn">Time In</label>
                        <ngb-timepicker class="no-validate" name="timeIn"
                                        [minuteStep]="minuteStep"
                                        [(ngModel)]="timeIn"
                                        #timeInVal="ngModel"
                                        (ngModelChange)="checkTime()"
                                        required></ngb-timepicker>
                        <div *ngIf="timeInVal.dirty && timeInVal.invalid">
                            <small class="form-text text-danger" *ngIf="timeInVal.errors.required"
                                   jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.validateMessage.timeInRequired">
                                Time In is required
                            </small>
                        </div>
                        <small class="form-text text-danger" *ngIf="!timeValid&&timeInMsg">
                            <br/>
                            {{timeInMsg}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label"
                               jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.dateOut">Date Out</label>
                        <div class="form-group" class="date-form-group">
                            <div class="input-group">
                                <input class="form-control" ngbDatepicker name="dateOut"
                                       [(ngModel)]="dateOutVal"
                                       #dateOutDp="ngbDatepicker"
                                       required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dateOutDpOnClick()"
                                            type="button">
                                        <i style="cursor: pointer" class="fa fa-calendar fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="dateOutDp.dirty && dateOutDp.invalid">
                            <small class="form-text text-danger" *ngIf="dateOutDp.errors.required"
                                   jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.validateMessage.dateOutRequired">
                                Date Out is required
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="form-group">
                        <label class="form-control-label spacing-top"
                               jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.timeOut">Time Out</label>
                        <ngb-timepicker class="no-validate" name="timeOut"
                                        [minuteStep]="minuteStep"
                                        [(ngModel)]="timeOut"
                                        #timeOutVal="ngModel"
                                        (ngModelChange)="checkTime()"
                                        required></ngb-timepicker>
                        <div *ngIf="timeOutVal.dirty && timeOutVal.invalid">
                            <small class="form-text text-danger" *ngIf="timeOutVal.errors.required"
                                   jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.validateMessage.timeOutRequired">
                                Time Out is required
                            </small>
                        </div>
                        <small class="form-text text-danger" *ngIf="!timeValid&&timeOutMsg">
                            <br/>
                            {{timeOutMsg}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label"
                               jhiTranslate="CatunDentistApp.medicalHistoryListEntity.labels.amount">Time
                            Working</label>
                        <br/>
                        <input type="number" required
                               [(ngModel)]="detailsReq.timeWorking" readonly
                               #timeWorkingVal="ngModel"
                               name="timeWorking" class="form-control">
                        <div *ngIf="timeWorkingVal.dirty && timeWorkingVal.invalid">
                            <small class="form-text text-danger" *ngIf="timeWorkingVal.errors.required"
                                   jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.validateMessage.timeWorkingRequired">
                                Time Working is required
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="form-control-label"
                               jhiTranslate="CatunDentistApp.medicalHistoryListEntity.labels.note">Noted</label>
                        <textarea type="textarea" [(ngModel)]="detailsReq.noted" name="noted" rows="3"
                                  class="form-control"></textarea>
                    </div>
                </div>
                <!--<div class="col-md-3">-->
                <!--<label class="form-control-label spacing-top" jhiTranslate="CatunDentistApp.medicalHistoryListEntity.labels.totalCost">Total Cost</label>-->
                <!--<input type="number" required-->
                <!--[(ngModel)]="detailsReq.totalCost"-->
                <!--#totalCostVal="ngModel"-->
                <!--(change)="calculatePrices()"-->
                <!--name="totalCost" class="form-control">-->
                <!--<div *ngIf="totalCostVal.dirty && totalCostVal.invalid">-->
                <!--<small class="form-text text-danger" *ngIf="totalCostVal.errors.required"-->
                <!--jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.validateMessage.totalCostRequired">-->
                <!--Total Cost is required-->
                <!--</small>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                <!--<label class="form-control-label spacing-top" jhiTranslate="CatunDentistApp.medicalHistoryListEntity.labels.discount">Discount</label>-->
                <!--<select name="discount" class="form-control"-->
                <!--*ngIf="discountValues"-->
                <!--[(ngModel)]="detailsReq.discount" #discountVal="ngModel"-->
                <!--(change)="calculatePrices()">-->
                <!--<option value=""></option>-->
                <!--<option *ngFor="let dv of discountValues" [ngValue]="dv">{{dv + '%'}}</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                <!--<label class="form-control-label spacing-top" jhiTranslate="CatunDentistApp.medicalHistoryListEntity.labels.realCost">Real Cost</label>-->
                <!--<input type="number" required-->
                <!--[(ngModel)]="detailsReq.realCost" #realCostVal="ngModel"-->
                <!--name="realCost" class="form-control">-->
                <!--<div *ngIf="realCostVal.dirty && realCostVal.invalid">-->
                <!--<small class="form-text text-danger" *ngIf="realCostVal.errors.required"-->
                <!--jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.validateMessage.realCostRequired">-->
                <!--Real Cost is required-->
                <!--</small>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <!-- Message -->
            <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
                <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message"
                           (close)="staticAlertClosed = true">{{message}}
                </ngb-alert>
            </div>
            <!-- -->
            <button type="submit" *ngIf="isAddNew"
                    [disabled]="detailForm.form.invalid || timeValid==false"
                    class="btn btn-primary"
                    jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.button.create">Create medical history
            </button>
            <button type="submit" *ngIf="!isAddNew"
                    [disabled]="detailForm.form.invalid || timeValid==false"
                    class="btn btn-primary" jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.button.edit">
                Edit medical history
            </button>
        </form>
    </div>
    <!-- End Form History Details -->

    <br/>

    <!-- Image Gallery -->
    <div class="col-md-5 text-center img-gallery" *ngIf="galleryImages.length > 0">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-md-5 text-center choose-img-warn-box" *ngIf="galleryImages.length == 0">
        <span class="choose-img-warn" jhiTranslate="CatunDentistApp.medicalHistoryDetailEntity.form.image.empty">No medical history image uploaded</span>
    </div>
    <!-- End Image Gallery -->
</div>


