<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="login.title">Đăng Nhập</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button"
            (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <span jhiTranslate="login.messages.error.authentication"><strong>Đăng nhập thất bại !</strong> Vui lòng kiểm tra lại tài khoản , mật khẩu.</span>
            </div>
        </div>
        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username" jhiTranslate="login.form.phone">Phone</label>
                    <input type="text" class="form-control" name="username" id="username"
                           [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password" jhiTranslate="login.form.password">Mật Khẩu</label>
                    <input type="password" class="form-control" name="password" id="password"
                           [(ngModel)]="password">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe"
                               id="rememberMe" [(ngModel)]="rememberMe" checked>
                        &nbsp;
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                    <span jhiTranslate="login.form.rememberme">Ghi Nhớ Tài Khoản</span>
                </div>
                <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Đăng
                    Nhập
                </button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()"
                   jhiTranslate="login.password.forgot">Quên mật khẩu ?</a>
            </div>
            <div class="alert alert-warning">
                <span jhiTranslate="login.noaccount.question">Bạn không có tài khoản ?</span>
                <a class="alert-link" (click)="register()" jhiTranslate="login.noaccount.register">Đăng
                    ký tài khoản mới</a>
            </div>
        </div>
    </div>
</div>
