.one.date td {
    background-color: #def3c9;
}

.three.date td {
    background-color: #d1efb2;
}

.one.month td {
    background-color: #ffe5cc;
}

.three.month td {
    background-color: #ffdbb7;
}

.six.month td {
    background-color: #ffd1a3;
}

.year td {
    background-color: #ffcccc;
}
