<div>
    <h2>
        <span jhiTranslate="CatunDentistApp.visitedPatientDisplay.title">Visited Patients</span>
    </h2>
    <!-- Message -->
    <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->
    <br/>

    <div class="table-responsive">
        <table class="table table-striped" *ngIf="patientList">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.visitedPatientDisplay.labels.time">Last treatment time</span></th>
                <th><span jhiTranslate="CatunDentistApp.visitedPatientDisplay.labels.name">Patient name</span></th>
                <th><span jhiTranslate="CatunDentistApp.visitedPatientDisplay.labels.phone">Patient phone Number</span></th>
                <th><span jhiTranslate="CatunDentistApp.visitedPatientDisplay.labels.email">Patient email</span></th>
                <th><span jhiTranslate="CatunDentistApp.visitedPatientDisplay.labels.message">Message</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of patientList" [ngClass]="{one: p.time==1, three: p.time==3, six: p.time==6, date: p.typeTime=='date', month: p.typeTime=='month', year: p.typeTime=='year'}">
                <td>{{p.intervalTimeTreatment}}</td>
                <td>{{p.name}}</td>
                <td>{{p.phone}}</td>
                <td>{{p.email}}</td>
                <td>
                    <span>{{p.time}}</span>
                    <span jhiTranslate="{{'CatunDentistApp.visitedPatientDisplay.labels.'+p.typeTime}}"></span>
                </td>
                <td>
                    <button class="btn btn-primary"
                            [routerLink]="['/backoffice-booking']">
                        <span class="fa fa-refresh"></span>
                        <span jhiTranslate="CatunDentistApp.visitedPatientDisplay.labels.rebook">Tái khám</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>
