<h2>
    <span jhiTranslate="CatunDentistApp.supplier.title">Nhà cung cấp</span>
    <button class="btn btn-primary btn-sm float-right jh-create-entity" (click)="openCreateSupplierModal(create)">
        <span class="fa fa-plus"></span>&nbsp;
        <span jhiTranslate="CatunDentistApp.supplier.button.addSupplier">Thêm nhà cung cấp</span>
    </button>
</h2>

<!-- Message -->
<div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
    <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
        {{message}}
    </ngb-alert>
</div>
<!-- -->
<br/>

<div class="row">
    <div class="col-md-12" *ngIf="supplierList">
        <div class="table-responsive text-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="CatunDentistApp.supplier.label.id">ID</span></th>
                    <th><span jhiTranslate="CatunDentistApp.supplier.label.name">Tên</span></th>
                    <th><span jhiTranslate="CatunDentistApp.supplier.label.address">Địa chỉ</span></th>
                    <th><span jhiTranslate="CatunDentistApp.supplier.label.phone">Số điện thoại</span></th>
                    <th><span jhiTranslate="CatunDentistApp.supplier.label.email">Email</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let s of supplierList">
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.address}}</td>
                    <td>{{s.phone}}</td>
                    <td>{{s.email}}</td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <button type="button"
                                    (click)="openEditSupplierModal(edit, s)"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil-square-o"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="button"
                                    (click)="openDeleteSupplierModal(delete, s)"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-trash-o"></span>&nbsp;
                                <span class="d-none d-md-inline"
                                      jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Create -->
<ng-template #create let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.supplier.modal.create"> Thêm nhà cung cấp </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="form" #supplierForm="ngForm">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.supplier.label.name">Tên</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               [(ngModel)]="createSupplier.name"
                               #name="ngModel" name="name" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.supplier.label.address">Địa chỉ</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               [(ngModel)]="createSupplier.address"
                               #address="ngModel" name="address" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.supplier.label.phone">Số điện thoại</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               pattern="[0-9]{9,14}$"
                               [(ngModel)]="createSupplier.phone"
                               #phone="ngModel" name="phone" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.supplier.label.email">Email</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]+$"
                               [(ngModel)]="createSupplier.email"
                               #email="ngModel" name="email" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                [disabled]="supplierForm.form.invalid"
                (click)="confirmCreate()"
                jhiTranslate="entity.action.save">Save
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeCreateModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>


<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.supplier.modal.edit"> Chỉnh sửa thông tin nhà cung cấp </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="form" #editForm="ngForm">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.supplier.label.name">Tên</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               [(ngModel)]="editSupplier.name"
                               #name="ngModel" name="name" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.supplier.label.address">Địa chỉ</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               [(ngModel)]="editSupplier.address"
                               #address="ngModel" name="address" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.supplier.label.phone">Số điện thoại</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               pattern="[0-9]{9,14}$"
                               [(ngModel)]="editSupplier.phone"
                               #phone="ngModel" name="phone" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="CatunDentistApp.supplier.label.email">Email</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]+$"
                               [(ngModel)]="editSupplier.email"
                               #email="ngModel" name="email" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                [disabled]="editForm.form.invalid"
                (click)="confirmEdit()"
                jhiTranslate="entity.action.save">Save
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeEditModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>

<!-- Delete -->
<ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.supplier.modal.delete"> Xóa thông tin nhà cung cấp </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table borderless" *ngIf="deleteSupplier">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.supplier.label.id">ID</span></th>
                <th><span jhiTranslate="CatunDentistApp.supplier.label.name">Tên</span></th>
                <th><span jhiTranslate="CatunDentistApp.supplier.label.address">Địa chỉ</span></th>
                <th><span jhiTranslate="CatunDentistApp.supplier.label.phone">Số điện thoại</span></th>
                <th><span jhiTranslate="CatunDentistApp.supplier.label.email">Email</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{deleteSupplier.id}}</td>
                <td>{{deleteSupplier.name}}</td>
                <td>{{deleteSupplier.address}}</td>
                <td>{{deleteSupplier.phone}}</td>
                <td>{{deleteSupplier.email}}</td>
            </tr>
            </tbody>
        </table>
        <p *ngIf="deleteSupplier" jhiTranslate="CatunDentistApp.supplier.modal.deleteMessage">Are you sure to delete this supplier data?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="confirmDelete()"
                jhiTranslate="entity.action.delete">Delete
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeDeleteModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>
