<div>
    <h2>
        <span *ngIf="selectedPatient" jhiTranslate="CatunDentistApp.treatment.titleTreatmentDetailList"></span>
        <button type="button" *ngIf="isDoctor"
                (click)="createDetail()"
                class="btn btn-primary float-right jh-create-entity">
            <span class="fa fa-pencil"></span>&nbsp;
            <span class="d-none d-md-inline" jhiTranslate="CatunDentistApp.treatment.createTreatmentDetail">Create detail</span>
        </button>
    </h2>
    <div class="col-md-12" *ngIf="selectedPatient">
        <table class="table-responsive table-sm">
            <tr>
                <td
                    jhiTranslate="CatunDentistApp.treatment.treatmentID">TreatmentID
                </td>
                <td><span>{{treatmentId}}</span></td>
            </tr>
            <tr>
                <td
                    jhiTranslate="CatunDentistApp.medicalHistoryPatientListEntity.labels.name">Patient
                </td>
                <td>{{selectedPatient.name}}</td>
            </tr>
            <tr>
                <td
                    jhiTranslate="CatunDentistApp.medicalHistoryPatientListEntity.labels.phone">Phone
                </td>
                <td>{{selectedPatient.phone}}</td>
            </tr>
            <tr>
                <td
                    jhiTranslate="CatunDentistApp.medicalHistoryPatientListEntity.labels.birthday">Birthday
                </td>
                <td>{{selectedPatient.birthDay}}</td>
            </tr>
            <tr>
                <td jhiTranslate="CatunDentistApp.medicalHistoryPatientListEntity.labels.email">Email</td>
                <td>{{selectedPatient.email}}</td>
            </tr>
        </table>
    </div>
    <!-- Message -->
    <div class="col-md-6 mx-auto text-center" style="margin-top: 10px;">
        <ngb-alert [type]="staticAlertType" *ngIf="!staticAlertClosed && message" (close)="staticAlertClosed = true">
            {{message}}
        </ngb-alert>
    </div>
    <!-- -->
    <br/>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default btn-sm"
                    [routerLink]="['/treatment']">
                <span class="fa fa-arrow-circle-left"></span>&nbsp;
                <span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.treatmentDetailId">Treatment Detail ID</span>
                </th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.totalCost">Total cost</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.discount">Discount</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.realCost">Real cost</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.paid">Paid</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.noteFromDoctor">Doctor note</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.noteFromPatient">Patient note</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.createdBy">Created by</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.createDate">Created time</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let td of histories">
                <td>{{td.treatmentDetailId}}</td>
                <td>{{+(td.totalCost?.split('.').join('')) | currency:'VND':true}}</td>
                <td>{{td.dicount}}</td>
                <td>{{+(td.realCost?.split('.').join('')) | currency:'VND':true}}</td>
                <td>{{+(td.paymented?.split('.').join('')) | currency:'VND':true}}</td>
                <td>{{td.noteFromDoctor}}</td>
                <td>{{td.noteFromPatient}}</td>
                <td>{{td.createdBy}}</td>
                <td>{{td.createDate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="button" *ngIf="isReception && !td.finishPaymented"
                                (click)="openPaymentModal(payment, td)"
                                class="btn btn-success">
                            <span class="fa fa-money"></span>&nbsp;
                            <span
                                class="d-none d-md-inline"
                                jhiTranslate="CatunDentistApp.treatment.labels.collectMoney">Thu tiền</span>
                        </button>
                        <button type="button" *ngIf="isReception && td.finishPaymented"
                                disabled
                                class="btn btn-success">
                            <span class="fa fa-check-circle"></span>&nbsp;
                            <span
                                class="d-none d-md-inline"
                                jhiTranslate="CatunDentistApp.treatment.labels.collectMoneyDone">Đã thanh toán</span>
                        </button>
                        <button type="button"
                                (click)="viewDetail(details, td)"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>&nbsp;
                            <span class="d-none d-md-inline"
                                  jhiTranslate="CatunDentistApp.treatment.labels.details">Details</span>
                        </button>
                        <button type="button"
                                (click)="downloadPdf(td.linkDownload)"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-file-pdf-o"></span>&nbsp;
                            <span class="d-none d-md-inline">PDF</span>
                        </button>
                        <button type="submit" *ngIf="isDoctor"
                                (click)="deleteTreatmentDetail(delete, td)"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash-o"></span>&nbsp;
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Delete treatment detail-->
<ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.treatment.deleteDetail.modalTitle">Delete treatment
            detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table borderless" *ngIf="tempTreatmentDetail">
            <thead>
            <tr>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.treatmentDetailId">Treatment Detail ID</span>
                </th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.realCost">Real cost</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.createdBy">Created by</span></th>
                <th><span jhiTranslate="CatunDentistApp.treatment.labels.createDate">Created time</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{tempTreatmentDetail.treatmentDetailId}}</td>
                <td>{{+(tempTreatmentDetail.realCost?.split('.').join('')) | currency:'VND':true}}</td>
                <td>{{tempTreatmentDetail.createdBy}}</td>
                <td>{{tempTreatmentDetail.createDate}}</td>
            </tr>
            </tbody>
        </table>
        <p *ngIf="tempTreatmentDetail" jhiTranslate="CatunDentistApp.treatment.deleteDetail.modalMessage">Are you sure
            to delete this treatment detail?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="confirmDeleteTreatmentDetail()"
                jhiTranslate="entity.action.delete">Delete
        </button>
        <button type="button" class="btn btn-light"
                (click)="closeDeleteTreatmenntModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>


<!-- View treatment detail-->
<ng-template #details let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.treatment.viewDetailModal.modalTitle">View treatment
            detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>
            <span jhiTranslate="CatunDentistApp.treatment.labels.treatmentDetailId"></span>
            <span>:</span>
            <span>{{viewingTreatmentDetail.treatmentDetailId}}</span>
            <span>-</span>
            <span jhiTranslate="CatunDentistApp.treatment.labels.createdBy">Created by:&nbsp;&nbsp;</span>
            <span>{{viewingTreatmentDetail.createdBy}}</span>
            <span jhiTranslate="CatunDentistApp.treatment.labels.createdAt">&nbsp;at:&nbsp;&nbsp;</span>
            <span>{{viewingTreatmentDetail.createDate}}</span>
        </h6>
        <table class="table table-bordered table-sm" *ngIf="viewingTreatmentDetail">
            <tbody>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.totalCost">Total cost</span>
                </td>
                <td>{{+(viewingTreatmentDetail.totalCost?.split('.').join('')) | currency:'VND':true}}</td>
            </tr>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.discount">Discount</span>
                </td>
                <td>{{viewingTreatmentDetail.dicount}}</td>
            </tr>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.realCost">Real cost</span>
                </td>
                <td>{{+(viewingTreatmentDetail.realCost?.split('.').join('')) | currency:'VND':true}}</td>
            </tr>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.paid">Paid</span>
                </td>
                <td>{{+(viewingTreatmentDetail.paymented?.split('.').join('')) | currency:'VND':true}}</td>
            </tr>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.noteFromDoctor">Doctor note</span>
                </td>
                <td>{{viewingTreatmentDetail.noteFromDoctor}}</td>
            </tr>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.noteFromPatient">Patient note</span>
                </td>
                <td>{{viewingTreatmentDetail.noteFromPatient}}</td>
            </tr>
            </tbody>
        </table>
        <h6 jhiTranslate="CatunDentistApp.treatment.viewDetailModal.services">Services</h6>
        <table class="table table-bordered table-sm" *ngIf="viewingTreatmentDetail">
            <thead class="table-info">
            <tr>
                <th jhiTranslate="CatunDentistApp.treatment.viewDetailModal.serviceName">Name</th>
                <th jhiTranslate="CatunDentistApp.treatment.viewDetailModal.servicePrice">Price</th>
                <th jhiTranslate="CatunDentistApp.treatment.viewDetailModal.tooth">Tooth No.</th>
                <th jhiTranslate="CatunDentistApp.treatment.viewDetailModal.amount">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let s of viewingTreatmentDetail.services">
                <td>{{s.name}}</td>
                <td>{{s.servicePrice | currency:'VND':true}}</td>
                <td>{{s.toothNames}}</td>
                <td>{{s.amounts}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light"
                (click)="closeViewTreatmentDetailModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>


<!-- Collect money -->
<ng-template #payment let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="CatunDentistApp.treatment.paymentModal.title">Payment
            detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-left" *ngIf="paymentTreatmentDetail">

        <h6>
            <span jhiTranslate="CatunDentistApp.treatment.labels.treatmentDetailId"></span>
            <span>:</span>
            <span>{{paymentTreatmentDetail.treatmentDetailId}}</span>
            <span>-</span>
            <span jhiTranslate="CatunDentistApp.treatment.labels.createdBy">Created by:&nbsp;&nbsp;</span>
            <span>{{paymentTreatmentDetail.createdBy}}</span>
            <span jhiTranslate="CatunDentistApp.treatment.labels.createdAt">&nbsp;at:&nbsp;&nbsp;</span>
            <span>{{paymentTreatmentDetail.createDate}}</span>
        </h6>
        <table class="table table-bordered table-sm" *ngIf="paymentTreatmentDetail">
            <tbody>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.totalCost">Total cost</span>
                </td>
                <td>{{+(paymentTreatmentDetail.totalCost?.split('.').join('')) | currency:'VND':true}}</td>
            </tr>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.discount">Discount</span>
                </td>
                <td>{{paymentTreatmentDetail.dicount}}</td>
            </tr>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.realCost">Real cost</span>
                </td>
                <td>{{+(paymentTreatmentDetail.realCost?.split('.').join('')) | currency:'VND':true}}</td>
            </tr>
            <tr>
                <td style="width: 25%">
                    <span jhiTranslate="CatunDentistApp.treatment.labels.paid">Paid</span>
                </td>
                <td>{{+(paymentTreatmentDetail.paymented?.split('.').join('')) | currency:'VND':true}}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-4">
                <span class="label label-info"><b jhiTranslate="CatunDentistApp.treatment.paymentModal.paymentType">Kiểu thanh toán: </b></span>
            </div>
            <div class="col-md-4">
                <label class="radio-inline">
                    <input type="radio" checked #partialPayment [value]="'partial'"
                           (click)="pickPaymentType(partialPayment.value)" name="pickPaymentType">&nbsp;
                    <span jhiTranslate="CatunDentistApp.treatment.paymentModal.partial">Partial</span>
                </label>
            </div>
            <div class="col-md-4">
                <label class="radio-inline">
                    <input type="radio" #fullPayment [value]="'full'"
                           (click)="pickPaymentType(fullPayment.value)" name="pickPaymentType">&nbsp;
                    <span jhiTranslate="CatunDentistApp.treatment.paymentModal.full">Full</span>
                </label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <span class="label label-info"><b
                    jhiTranslate="CatunDentistApp.treatment.paymentModal.amount">Giá trị: </b></span>
            </div>
            <div class="col-md-8">
                <input class="form-control text-center" [readonly]="!paymentInputEnabled"
                       name="paymentAmount" [(ngModel)]="paymentAmount" style="width: 80%"
                       type="number" min="0"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                [disabled]="!paymentType || paymentAmount <= 0"
                (click)="savePayment()" jhiTranslate="CatunDentistApp.treatment.paymentModal.savePayment">Save payment
        </button>
        <button type="button" class="btn btn-light"
                (click)="closePaymentModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>
