#searchclear {
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 10px;
    height: 14px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    color: gray;
}


.borderless td, .borderless th {
    border: none;
}
