<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span class="msg display-5" *ngIf="finishedStep==0" jhiTranslate="CatunDentistApp.booking.message.chooseDay"></span>
            <span class="msg display-5" *ngIf="finishedStep==1" jhiTranslate="CatunDentistApp.booking.message.chooseTime"></span>
            <span class="msg display-5" *ngIf="finishedStep==2" jhiTranslate="CatunDentistApp.booking.message.inputInfor"></span>
            <div class="rl-multi-step">
                <ul class="rl-multi-step-list">
                    <li (click)="navigate('chon-ngay', true, 0)"
                        [ngClass]="{current: finishedStep>=0}"
                        class="rl-multi-step-item active current">
                        <div class="rl-item-wrap">
                            <p class="rl-item-title" jhiTranslate="CatunDentistApp.booking.pickDate">Chọn ngày</p>
                            <p class="rl-item-subtitle" *ngIf="!booking.dateVal" jhiTranslate="CatunDentistApp.booking.pickDateDes">Chọn ngày hẹn
                                khám.</p>
                            <p class="rl-item-subtitle" *ngIf="booking.dateVal"><span jhiTranslate="CatunDentistApp.booking.pickedDate">Ngày hẹn:</span>
                                <span>{{booking.dateVal}}</span></p>
                        </div>
                    </li>
                    <li (click)="navigate('chon-gio', booking.dateVal, 1)"
                        [ngClass]="{nonclickable: !booking.dateVal,
                                    active: booking.dateVal,
                                    current: finishedStep>=1}"
                        class="rl-multi-step-item">
                        <div class="rl-item-wrap">
                            <p class="rl-item-title" jhiTranslate="CatunDentistApp.booking.pickTime">Chọn giờ</p>
                            <p class="rl-item-subtitle" *ngIf="!booking.timeVal" jhiTranslate="CatunDentistApp.booking.pickTimeDes">Chọn giờ hẹn
                                khám.</p>
                            <p class="rl-item-subtitle" *ngIf="booking.timeVal"><span jhiTranslate="CatunDentistApp.booking.pickedTime">Giờ hẹn:</span>
                                <span>{{booking.timeVal}}</span></p>
                        </div>
                    </li>
                    <li (click)="navigate('thong-tin-ca-nhan', booking.timeVal, 2)"
                        [ngClass]="{nonclickable: !booking.timeVal,
                                    active: booking.timeVal,
                                    current: finishedStep>=2}"
                        class="rl-multi-step-item">
                        <div class="rl-item-wrap">
                            <p class="rl-item-title" jhiTranslate="CatunDentistApp.booking.cusinfo">Thông tin</p>
                            <p class="rl-item-subtitle" jhiTranslate="CatunDentistApp.booking.cusinfoDes">Thông tin bệnh nhân.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-12 text-center mobile-date-time-box">
            <div class="col-md-6 mx-auto">
                <span class="mobile-date-time"
                      *ngIf="booking.timeVal">{{booking.timeVal}}</span>
                <span class="mobile-date-time" *ngIf="booking.dateVal"> {{booking.dateVal}}</span>
            </div>
        </div>
    </div>
</div>
