<div class="row wrapper">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row justify-content-center">
            <div class="col-md-3 month-title text-center" jhiTranslate="{{'datetime.month.'+currentMonth}}">{{currentMonth}}</div>
        </div>
        <div class="calendar">
            <div class="row text-center weekday-title-wrapper">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-1 weekday-title-box"><span class="weekday-title" jhiTranslate="{{'datetime.weekday.Monday'}}">Thứ Hai</span>
                </div>
                <div class="col-md-1 weekday-title-box"><span class="weekday-title" jhiTranslate="{{'datetime.weekday.Tuesday'}}">Thứ Ba</span>
                </div>
                <div class="col-md-1 weekday-title-box"><span class="weekday-title" jhiTranslate="{{'datetime.weekday.Wednesday'}}">Thứ Tư</span>
                </div>
                <div class="col-md-1 weekday-title-box"><span class="weekday-title" jhiTranslate="{{'datetime.weekday.Thursday'}}">Thứ Năm</span>
                </div>
                <div class="col-md-1 weekday-title-box"><span class="weekday-title" jhiTranslate="{{'datetime.weekday.Friday'}}">Thứ Sáu</span>
                </div>
                <div class="col-md-1 weekday-title-box"><span class="weekday-title" jhiTranslate="{{'datetime.weekday.Saturday'}}">Thứ Bảy</span>
                </div>
                <div class="col-md-1 weekday-title-box"><span class="weekday-title" jhiTranslate="{{'datetime.weekday.Sunday'}}">Chủ Nhật</span>
                </div>
            </div>
            <div *ngFor="let week of dates">
                <div class="row text-center">
                    <div class="col-md-2 hide">&nbsp;</div>
                    <div class="col-xs-6 col-sm-6 col-md-1 date-box-wrapper"
                         #dateBox attr.data-date="{{date.fullDate}}"
                         attr.data-shown="{{date.isShown}}"
                         attr.data-selected="{{date.isSelected}}"
                         ngbTooltip="{{date.reason}}"
                         placement="top"
                         *ngFor="let date of week"
                         [ngClass]="{dayoff: date.isSelected, saturday: date.isSat, sunday: date.isSun, hide: !date.isShown, selected: booking.dateVal && booking.dateVal == date.fullDate}"
                         (click)="chooseDay(dateBox.getAttribute('data-date'), dateBox.getAttribute('data-shown'), dateBox.getAttribute('data-selected'))">
                        <div class="date-box"
                             [ngClass]="{hide: !date.isShown, selected: booking.dateVal && booking.dateVal == date.fullDate}">
                            <span class="weekday" jhiTranslate="{{'datetime.weekday.'+date.weekday}}">{{date.weekday}}</span>
                            <span class="date">{{date.isFirst? date.fullDate : date.date}}</span>
                            <span class="full-date">{{date.fullDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
