/**
Gray background color: #D7D7D7
Gray border/arrow color: #818181
 */

/* -------------------------------------------------- */
/* COMMON FOR PICKDAY, PICKTIME, CUSINFO */
/* -------------------------------------------------- */
.title-wrapper {
    margin: 3% 0;
}

.title-wrapper h4 {
    text-transform: uppercase;
    color: #4CA6FF;
}

.nav-arrow {
    color: #4CA6FF;
    cursor: pointer;
}

/** Additional css **/
.jh-card {
    background: rgba(253, 253, 253, 0.95);
}

.rl-item-wrap:after, .rl-item-wrap:before {
    height: 50%;
}

/* -------------------------------------------------- */
/* ONLY PICKDAY */
/* -------------------------------------------------- */
.wrapper {
    margin: auto;
    max-width: 100%;
}

.main-title {
    font-size: 290%;
}

.calendar, .date-box-wrapper {
    background-color: #FFF;
}

.month-title {
    display: block;
    width: 100%;
    font-size: 45px;
    font-weight: 300;
    color: #1368DC;
}

.date-box-wrapper {
    border: 1px solid rgba(169, 169, 169, 0.25);
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(214, 214, 214, 0.45);
    background: #ffffff;
    color: #666;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.date-box {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 8px 0;
    padding: 19px 5px;
    font-size: 85%;
    font-weight: bold;
    width: 100%;
}

.weekday-title-wrapper {
    color: #666;
    padding: 10px 0 0;
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 300;
}

.weekday-title-box {
    padding: 0;
    margin: 8px;
}

.weekday-title {
    font-weight: 400;
}

.weekday, .date {
    font-size: 120%;
}

.weekday {
    display: none;
    font-weight: 400;
}

.full-date {
    display: none;
}

.date-box-wrapper.saturday,
.date-box-wrapper.sunday {
    background-color: #E74C3C;
    color: #FFF;
    border: 0;
}

.date-box-wrapper:hover,
.date-box-wrapper.selected {
    background: #1368DC;
    color: #FFF;
}

.date-box-wrapper.dayoff,
.date-box-wrapper.dayoff:hover{
    opacity: 0.3;
    border: 1px solid #a9a9a9ba;
    box-shadow: none;
    cursor: not-allowed;
    background: #FFF;
    color: #000;
}

.hide {
    visibility: hidden
}

@media (max-width: 480px), (max-width: 767px),(max-width: 990px) {
    .calendar, .date-box-wrapper {
        background-color: #FFF;
    }

    .date-box {
        vertical-align: middle;
        cursor: pointer;
        font-size: 85%;
        font-weight: bold;
        border-radius: 0;
        display: block;
        padding: 0;
        width: auto;
    }

    .weekday-title {
        display: none;
    }

    .weekday {
        display: block;
    }

    .date-box:hover, .date-box.selected {
        border-radius: 0;
    }

    .date-box-wrapper {
        margin: 5px 0;
        /*border: solid 2px #4285f4;*/
    }

    .date-box.selected, .date-box-wrapper.selected {
        border-radius: 0%;
        background-color: #4285f4;
        color: #FFF;
    }

    .full-date {
        display: block;
    }

    .date {
        display: none;
    }

    /*.date-box-wrapper.selected.sunday, .date-box-wrapper.selected.saturday,*/
    /*.date-box-wrapper.selected.sunday > .date-box, .date-box-wrapper.selected.saturday > .date-box {*/
        /*background-color: #FA8072;*/
        /*color: #FFF;*/
    /*}*/

    .month-title, .weekday-title-wrapper {
        display: none;
    }

    .hide {
        display: none;
    }
}
