<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-right mobile-logo">
        <a class="jh-navbar-toggler d-lg-none float-left" href="javascript:void(0);"
           (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-right" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">CatunDentistApp</span> <span
            class="navbar-version">{{version}}</span>
        </a>
    </div>
    <div class="navbar-collapse float-left" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
         [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <!--<i class="fa fa-home" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.home">Trang Chủ</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" *ngIf="notStaff">
                <a class="nav-link"
                   routerLink="dat-hen"
                   routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span>
                        <!--<i class="fa fa-phone-square" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.booking">Đặt Hẹn</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" *ngIf="counter">
                <a class="nav-link"
                   routerLink="backoffice-booking"
                   routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span>
                        <!--<i class="fa fa-phone-square" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.booking">Đặt Hẹn</span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_RECEPTIONIST', 'ROLE_DOCTOR']" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="work-menu">
                <span>
                    <!--<i class="fa fa-th-list" aria-hidden="true"></i>-->
                    <span jhiTranslate="global.menu.work.main">
                        Công việc
                    </span>
                </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *jhiHasAnyAuthority="['ROLE_RECEPTIONIST']">
                        <a class="dropdown-item" routerLink="backoffice-booking"
                           routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.booking">Đặt Hẹn</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_RECEPTIONIST','ROLE_DOCTOR']">
                        <a class="dropdown-item" href="https://trello.com/b/AXunWoGw/workspace" target="_blank">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.work.task">Nhiệm vụ</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_DOCTOR']">
                        <a class="dropdown-item" routerLink="treatment-history" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.doctor.medicalHistoryEntity">Medical History Entity</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_DOCTOR','ROLE_RECEPTIONIST']">
                        <a class="dropdown-item" routerLink="treatment" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.doctor.detailTreatmentEntity">Detail Treatment</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *jhiHasAnyAuthority="['ROLE_COUNTER']" class="nav-item">
                <a class="nav-link"
                   routerLink="today-appointments"
                   routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span>
                        <!--<i class="fa fa-phone-square" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.reception.todayAppointments">Lịch khám hôm nay</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *jhiHasAnyAuthority="['ROLE_ADMIN']" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="entity-menu">
                    <span>
                        <!--<i class="fa fa-th-list" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="global-setting" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.entities.globalSetting">Global Setting</span>
                        </a>
                    </li>
                    <!--<li *jhiHasAnyAuthority="['ROLE_ADMIN']">-->
                    <!--<a class="dropdown-item" routerLink="supply-management" routerLinkActive="active"-->
                    <!--[routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
                    <!--&lt;!&ndash;<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>&ndash;&gt;-->
                    <!--<span-->
                    <!--jhiTranslate="global.menu.supply.supplyManagement">Quản lý vật tư</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="task-calendar" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.entities.taskCalendar">Task Calendar</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" href="https://trello.com/b/AXunWoGw/workspace" target="_blank">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.work.task">Nhiệm vụ</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="product-entity" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.entities.productEntity">Product Entity</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="service-category-entity" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.entities.serviceCategoryEntity">Service Category Entity</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="service-entity" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.entities.serviceEntity">Service Entity</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="mail-template" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.entities.mailTemplateEntity">Mail Template</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="availability-setting" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.entities.availabilitySettingEntity">Availability Setting</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_RECEPTIONIST','ROLE_DOCTOR']" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="display-menu">
                    <span>
                        <!--<i class="fa fa-th-list" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.reception.main">
                            Reception
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="task-calendar" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.entities.taskCalendar">Task Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="coming-appointments" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-bell" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.reception.appointments">Coming Appointments</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_RECEPTIONIST']">
                        <a class="dropdown-item" routerLink="coming-birthday" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-bell" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.reception.comingBirthday">Birthday</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_RECEPTIONIST']" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="warehouse-menu">
                    <span>
                        <!--<i class="fa fa-th-list" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.warehouse.main">
                            Supply
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="supplier" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-bell" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.warehouse.supplier">Nhà cung cấp</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="warehouse" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.warehouse.supply">Quản lý vật tư</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="warehouse-report" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.warehouse.report">Báo cáo vật tư</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_RECEPTIONIST']" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="payment-menu">
                    <span>
                        <!--<i class="fa fa-th-list" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.payment.main">
                            Chi phí
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <!--<li>-->
                    <!--<a class="dropdown-item" routerLink="dynamic-payment" routerLinkActive="active"-->
                    <!--[routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
                    <!--&lt;!&ndash;<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>&ndash;&gt;-->
                    <!--<span-->
                    <!--jhiTranslate="global.menu.payment.dynamicCost">Chi phí linh động</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a class="dropdown-item" routerLink="order-payment" routerLinkActive="active"-->
                    <!--(click)="collapseNavbar()">-->
                    <!--&lt;!&ndash;<i class="fa fa-fw fa-bell" aria-hidden="true"></i>&ndash;&gt;-->
                    <!--<span jhiTranslate="global.menu.payment.orderPayment">Thanh toán đơn hàng</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a class="dropdown-item" routerLink="expenditure"
                           routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.payment.expenditure">Chi phí</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--<li *jhiHasAnyAuthority="['ROLE_ADMIN']" ngbDropdown class="nav-item dropdown pointer"-->
            <!--routerLinkActive="active"-->
            <!--[routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"-->
            <!--id="report-menu">-->
            <!--<span>-->
            <!--&lt;!&ndash;<i class="fa fa-th-list" aria-hidden="true"></i>&ndash;&gt;-->
            <!--<span jhiTranslate="global.menu.businessReport.main">-->
            <!--Business Reports-->
            <!--</span>-->
            <!--</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu" ngbDropdownMenu>-->
            <!--<li>-->
            <!--<a class="dropdown-item" routerLink="business-state" routerLinkActive="active"-->
            <!--[routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--&lt;!&ndash;<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>&ndash;&gt;-->
            <!--<span-->
            <!--jhiTranslate="global.menu.businessReport.businessState">Business State</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a class="dropdown-item" routerLink="financial-report" routerLinkActive="active"-->
            <!--(click)="collapseNavbar()">-->
            <!--&lt;!&ndash;<i class="fa fa-fw fa-bell" aria-hidden="true"></i>&ndash;&gt;-->
            <!--<span jhiTranslate="global.menu.businessReport.financialReport">Financial Report</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="admin-menu">
                    <span>
                        <!--<i class="fa fa-user-plus" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management"
                           routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-user" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-heart" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-configuration"
                           routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-list" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-bell" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-tasks" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-book" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='./h2-console' target="_tab"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <!--<i class="fa fa-flag" aria-hidden="true"></i>-->
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language"
                           href="javascript:void(0);"
                           (click)="changeLanguage(language);collapseNavbar();">{{language |
                            findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <!--<i class="fa fa-user" aria-hidden="true"></i>-->
                    <span jhiTranslate="global.menu.account.main">
                      Tài Khoản
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-wrench" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.account.settings">Cài Đặt Tài Khoản</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>-->
                            <span
                                jhiTranslate="global.menu.account.password">Thay Đỗi Mật Khẩu</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <!--<i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.account.logout">Thoát</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <!--<i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.account.login">Đăng Nhập</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <!--<i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>-->
                            <span jhiTranslate="global.menu.account.register">Đăng Ký</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *jhiHasAnyAuthority="['ROLE_DOCTOR', 'ROLE_RECEPTIONIST']"
                ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="notification">
                    <span style="position: relative;display: inline-block;">
                        <i class="fa fa-bell-o fa-2x" aria-hidden="true"></i>
                        <span *ngIf="newSize > 0" class="badge badge-danger button__badge">{{newSize}}</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="!showNoti || showNoti.length == 0">
                    <a class="see-all-noti"
                       (click)="collapseNavbar();openNotiModal(notiModal);">
                        <span jhiTranslate="CatunDentistApp.notification.seeAll">See all notifications.</span>
                    </a>
                    <li>
                        <a class="dropdown-item noti-item" style="color: #adadad"
                           (click)="collapseNavbar();">
                            <i class="fa fa-2x fa-envelope-open float-left noti-icon"
                               aria-hidden="true"></i>
                            <span class="float-right">
                                <span class="noti-content" jhiTranslate="CatunDentistApp.notification.noNew">You have no new notification.<br></span>
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="dropdown-menu dropdown-noti" ngbDropdownMenu
                    *ngIf="showNoti && showNoti.length > 0">
                    <a class="see-all-noti"
                       (click)="collapseNavbar();openNotiModal(notiModal);">
                        <span jhiTranslate="CatunDentistApp.notification.seeAll">See all notifications.</span>
                    </a>
                    <div class="noti-menu">
                        <li *ngFor="let noti of showNoti">
                            <a class="dropdown-item noti-item"
                               routerLinkActive="active"
                               (click)="collapseNavbar();viewNotification(noti);">
                                <i class="fa fa-2x float-left noti-icon"
                                   [ngClass]="{'fa-calendar-plus-o': noti.eventType==='REGISTER','noti-icon-register': noti.eventType==='REGISTER',
                                            'fa-pencil-square-o': noti.eventType==='EDIT','noti-icon-edit': noti.eventType==='EDIT',
                                            'fa-check-circle': noti.eventType==='FINISHED','noti-icon-finish': noti.eventType==='FINISHED'}"
                                   aria-hidden="true"></i>
                                <span class="float-right">
                                <span class="noti-content">{{noti.content}}<br></span>
                                <span class="noti-interval">{{noti.intervalTime}}</span>
                            </span>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
    <div class="jh-logo-container float-right desktop-logo">
        <a class="navbar-brand logo float-right" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">CatunDentistApp</span> <span
            class="navbar-version">{{version}}</span>
        </a>
    </div>
</nav>


<!-- View showNoti -->
<ng-template #notiModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <span jhiTranslate="CatunDentistApp.notification.modalTitle">Notifications</span>&nbsp;
            <span class="badge badge-info" *ngIf="newNoti && oldNoti">{{newNoti.length + oldNoti.length}}</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-left">
        <span *ngIf="(newNoti.length + oldNoti.length)==0" style="color: #adadad">
            <i class="fa fa-2x fa-envelope-open float-left noti-icon"
               aria-hidden="true"></i>
            <span class="float-left">
                <span class="noti-content" jhiTranslate="CatunDentistApp.notification.empty">You have no notification.<br></span>
            </span>
        </span>
        <div *ngIf="(newNoti.length + oldNoti.length) > 0" class="" style="width: 420px; overflow-x: hidden;">
            <span class="mark-all-read" (click)="readAllNewNoti()" jhiTranslate="CatunDentistApp.notification.readAll">Mark all as read</span>
            <div class="noti-table-box">
                <table class="table noti-table">
                    <tr *ngFor="let noti of newNoti" class="new-noti">
                        <td>
                            <a class="dropdown-item noti-item"
                               routerLinkActive="active"
                               (click)="collapseNavbar();viewNotification(noti);">
                                <i class="fa fa-2x float-left noti-icon"
                                   [ngClass]="{'fa-calendar-plus-o': noti.eventType==='REGISTER','noti-icon-register': noti.eventType==='REGISTER',
                                            'fa-pencil-square-o': noti.eventType==='EDIT','noti-icon-edit': noti.eventType==='EDIT',
                                            'fa-check-circle': noti.eventType==='FINISHED','noti-icon-finish': noti.eventType==='FINISHED'}"
                                   aria-hidden="true"></i>
                                <span class="float-left">
                            <span class="noti-content">{{noti.content}}<br></span>
                            <span class="noti-interval">{{noti.intervalTime}}</span>
                        </span>
                            </a>
                        </td>
                    </tr>
                    <tr *ngFor="let noti of oldNoti">
                        <td>
                            <a class="dropdown-item noti-item"
                               routerLinkActive="active"
                               (click)="collapseNavbar();viewNotification(noti);">
                                <i class="fa fa-2x float-left noti-icon"
                                   [ngClass]="{'fa-calendar-plus-o': noti.eventType==='REGISTER','noti-icon-register': noti.eventType==='REGISTER',
                                            'fa-pencil-square-o': noti.eventType==='EDIT','noti-icon-edit': noti.eventType==='EDIT',
                                            'fa-check-circle': noti.eventType==='FINISHED','noti-icon-finish': noti.eventType==='FINISHED'}"
                                   aria-hidden="true"></i>
                                <span class="float-left">
                            <span class="noti-content">{{noti.content}}<br></span>
                            <span class="noti-interval">{{noti.intervalTime}}</span>
                        </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light"
                (click)="closeNotiModal()"
                jhiTranslate="entity.action.close">Close
        </button>
    </div>
</ng-template>
