/* ==========================================================================
Navbar
========================================================================== */
.navbar {
    padding: 0;
}

.navbar-version {
    font-size: 10px;
    color: #000
}

/*.jh-navbar {*/
/*background-color: #FFF;*/
/*padding-left: 0.5rem;*/
/*}*/

/*.jh-navbar .dropdown-item.active, .jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {*/
/*background-color: #eee;*/
/*color: #000;*/
/*}*/

/*.jh-navbar .navbar-nav .nav-item.active {*/
/*background-color: #e1e1e1;*/
/*}*/

/*.jh-navbar .dropdown-toggle::after {*/
/*margin-left: 0.15em;*/
/*}*/

/*.jh-navbar .nav-item:hover {*/
/*background-color: #eee;*/
/*color: #000;*/
/*}*/

/*.jh-navbar a.nav-link {*/
/*font-weight: 400;*/
/*color: #000;*/
/*}*/

/*.jh-navbar .jh-navbar-toggler {*/
/*color: #000;*/
/*font-size: 1.5em;*/
/*}*/

/*.jh-navbar .jh-navbar-toggler:hover {*/
/*color: #000;*/
/*}*/

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    color: #000;
}

/*.dropdown-menu {*/
/*padding: .1rem 0;*/
/*margin: 0;*/
/*}*/

/* ==========================================================================
Logo styles
========================================================================== */
.jh-navbar-toggler {
    padding: 14px 0 0 20px;
    font-size: 20px;
}

.navbar-brand.logo {
    font-size: 90%;
}

.logo .logo-img {
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}

.logo-img {
    height: 100%;
    background: url("../../../content/images/logo.jpeg") no-repeat center center;
    background-size: contain;
    width: 100%;
}

/* ==========================================================================
Custom style for Creative-tim
========================================================================== */
.mobile-logo {
    display: none;
}

.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0 #3a8bca, #227cc3;
    background-color: #97c1e2;
    color: #fff;
}

.button__badge {
    position: absolute; /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
}

.noti-menu {
    overflow-y: scroll;
    max-height: 235px;
    overflow-x: hidden;
    width: 310px;
}

.dropdown-noti {
    top: 40px;
    left: 5px;
    width: 293px;
    overflow-x: hidden;
}

.noti-item {
    padding: 10px 20px;
    min-width: 18rem;
}

.noti-content {
    white-space: initial;
}

.noti-interval {
    color: #90949c;
    font-style: italic;
}

.noti-icon {
    padding-right: 20px;
}

.noti-icon-register {
    color: #57CC74;
}

.noti-icon-edit {
    color: #FFC977;
}

.noti-icon-finish {
    color: #6AA1FF;
}

.see-all-noti {
    display: inherit;
    text-align: right;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    color: #0c83e2 !important;
    padding-right: 10px;
}

.see-all-noti:hover {
    background-color: transparent !important;
    color: #0c83e2 !important;
    box-shadow: none !important;
}

.noti-table-box {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    width: 445px;
}

.noti-item:hover {
    font-weight: normal;
}

.new-noti .noti-item:hover {
    font-weight: bold;
}

.new-noti .noti-item {
    font-weight: bold;
}

.mark-all-read {
    font-weight: bold;
    color: #0c83e2;
    cursor: pointer;
}

@media (max-width: 991px) {
    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    .navbar .navbar-collapse.collapse, .navbar .navbar-collapse.collapse.in, .navbar .navbar-collapse.collapsing {
        display: block;
    }

    .navbar-collapse.show {
        position: sticky;
        display: block !important;
        top: 21px;
        height: 100%;
        width: 230px;
        left: 0;
        margin-left: 0 !important;
        z-index: 1023;
        visibility: visible;
        background-color: #FFF;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        padding-right: 0;
        padding-left: 0;
        transform: none;
        transition: none;
    }

    .navbar .dropdown .dropdown-menu, .navbar .dropdown.show .dropdown-menu {
        height: auto;
        margin-bottom: 0;
        padding-bottom: 5px;
    }

    .navbar[_ngcontent-c4] .navbar-nav[_ngcontent-c4] .nav-item[_ngcontent-c4] .nav-link[_ngcontent-c4] {
        padding: 3px 10px;
        font-size: 15px;
        color: #000;
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #fff !important;
    }
}

