<div *ngIf="productEntity">
    <h2><span jhiTranslate="CatunDentistApp.productEntity.detail.title">Product Entity</span>
        {{productEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="CatunDentistApp.productEntity.name">Name</span></dt>
        <dd>
            <span>{{productEntity.name}}</span>
        </dd>
        <dt><span jhiTranslate="CatunDentistApp.productEntity.price">Price</span></dt>
        <dd>
            <span>{{productEntity.price | currency:'VND':true}}</span>
        </dd>
        <dt><span jhiTranslate="CatunDentistApp.productEntity.service">Service</span></dt>
        <dd>
            <div *ngIf="productEntity.service">
                <a [routerLink]="['/service-entity', productEntity.service?.id]">{{productEntity.service?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span
        jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product-entity/'+ productEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
