<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductEntityLabel"
            jhiTranslate="CatunDentistApp.productEntity.home.createOrEditLabel">Create or edit a
            Product Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <!-- Error Message -->
        <div *ngIf="errorMessage " class="alert alert-danger text-center">
            <strong>{{errorMessage}}</strong>
        </div>
        <!-- -->
        <div class="form-group" [hidden]="!productEntity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="productEntity.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="CatunDentistApp.productEntity.name"
                   for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="productEntity.name"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="CatunDentistApp.productEntity.price"
                   for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                   [(ngModel)]="productEntity.price"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving"
                class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
            jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
