<div>
    <h2>
        <span jhiTranslate="CatunDentistApp.productEntity.home.title">Product Entities</span>
        <button class="btn btn-primary float-right jh-create-entity create-product-entity"
                [routerLink]="['/', { outlets: { popup: ['product-entity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="CatunDentistApp.productEntity.home.createLabel">
            Create new Product Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productEntities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                [callback]="reset.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span
                    jhiTranslate="CatunDentistApp.productEntity.name">Name</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="price"><span jhiTranslate="CatunDentistApp.productEntity.price">Price</span>
                    <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)"
                   [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let productEntity of productEntities ;trackBy: trackId">
                <td><a
                    [routerLink]="['../product-entity', productEntity.id ]">{{productEntity.id}}</a>
                </td>
                <td>{{productEntity.name}}</td>
                <td>{{productEntity.price | currency:'VND':true}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../product-entity', productEntity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-entity/'+ productEntity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-entity/'+ productEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
