<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myServiceCategoryEntityLabel"
            jhiTranslate="CatunDentistApp.serviceCategoryEntity.home.createOrEditLabel">Create or
            edit a Service Category Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <!-- Error Message -->
        <div *ngIf="errorMessage " class="alert alert-danger text-center">
            <strong>{{errorMessage}}</strong>
        </div>
        <!-- -->
        <div class="form-group" [hidden]="!serviceCategoryEntity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="serviceCategoryEntity.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label"
                   jhiTranslate="CatunDentistApp.serviceCategoryEntity.name"
                   for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="serviceCategoryEntity.name" required minlength="1" maxlength="50"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.minlength"
                       jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                    This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.maxlength"
                       jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label"
                   jhiTranslate="CatunDentistApp.serviceCategoryEntity.description"
                   for="field_description">Description</label>
            <app-ngx-editor height="100px" minHeight="50px" name="description"
                            id="field_description"
                            [(ngModel)]="serviceCategoryEntity.description">
            </app-ngx-editor>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving"
                class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
            jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
