<div *ngIf="serviceCategoryEntity">
    <h2><span jhiTranslate="CatunDentistApp.serviceCategoryEntity.detail.title">Service Category Entity</span>
        {{serviceCategoryEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="CatunDentistApp.serviceCategoryEntity.name">Name</span></dt>
        <dd>
            <span>{{serviceCategoryEntity.name}}</span>
        </dd>
        <dt><span
            jhiTranslate="CatunDentistApp.serviceCategoryEntity.description">Description</span>
        </dt>
        <dd>
            <span [innerHTML]="serviceCategoryEntity.description"></span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span
        jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'service-category-entity/'+ serviceCategoryEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
